<div class="map_rpm">
    <div class="bentscale">
        <img src="/assets/images/scale_left.svg" alt="">
        <div class="bentscale_range" [style.height]="mapData?mapData.shown + 'px':'0px'">
            <svg width="90" height="292" viewBox="0 0 90 292" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="bentscale_range_svg">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M62.8971 146.493C62.8971 92.3681 50.5442 42.4905 29.5004 0.999969H47.2069C67.3679 43.6201 78.8971 93.541 78.8971 146.493C78.8971 199.037 67.5449 248.597 47.6714 291H29.9983C50.7389 249.706 62.8971 200.19 62.8971 146.493Z"
                      [attr.fill]="mapData?.color"></path>
            </svg>
        </div>
        <div class="bentscale_text">
            <div class="bentscale_value" [style.color]="mapData?mapData.labelColor:''"
                 *ngIf="valueMAP">{{ valueMAP | number:'1.1-1'}}</div>
            <div class="bentscale_name">MAP</div>
        </div>
    </div><!-- /bentscale -->
    <div class="bentscale_data">
        <span>TAKEOFF</span>
        <span>- 100 -</span>
        <span class="active">- 75 -</span>
        <span>- 65 -</span>
        <span>- 55 -</span>
        <span>IDLE</span>
    </div><!-- /bentscale_data -->
    <div class="bentscale mirror">
        <img src="/assets/images/scale_left.svg" alt="">
        <div class="bentscale_range" [style.height]="rpmData?rpmData.shown + 'px':'0px'">
            <svg width="90" height="292" viewBox="0 0 90 292" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="bentscale_range_svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M62.8971 146.493C62.8971 92.3681 50.5442 42.4905 29.5004 0.999969H47.2069C67.3679 43.6201 78.8971 93.541 78.8971 146.493C78.8971 199.037 67.5449 248.597 47.6714 291H29.9983C50.7389 249.706 62.8971 200.19 62.8971 146.493Z"
                      [attr.fill]="rpmData?.color"></path>
            </svg>
        </div>
        <div class="bentscale_text">
            <div class="bentscale_value" [style.color]="rpmData?rpmData.labelColor:''"
                 *ngIf="valueRPM">{{ valueRPM | number:'1.0-1'}}</div>
            <div class="bentscale_name">RPM</div>
        </div>
    </div><!-- /bentscale -->
</div><!-- /map_rpm -->
