<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Setting menu</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content style="font-family: 'Roboto Light'; font-size: 12px;">
    <form [formGroup]="form" novalidate>
        <ion-list>
            <ion-list-header>
                <ion-label>Main setting</ion-label>
            </ion-list-header>
            <ion-item color="">
                <ion-label position="floating">Server Url</ion-label>
                <ion-input
                        formControlName="serverUrl"
                        type="text"
                ></ion-input>
                <p>After change server url please restart app</p>
            </ion-item>
            <ion-list-header>
                <ion-label>Data setting</ion-label>
            </ion-list-header>
        </ion-list>
        <ion-grid formArrayName="setting">
            <ion-row *ngFor="let items of getControls('setting'); let i=index" [formGroupName]="i">
                <ion-col style="width: 100px;">
                    <ion-list-header>
                        <ion-label>{{data[i]['name']}}</ion-label>
                    </ion-list-header>
                </ion-col>
                <ion-col>
                    <ion-item color="danger">
                        <ion-label position="floating">Min absolute</ion-label>
                        <ion-input
                                [formControl]="items.controls['danger_min']"
                                type="number"
                                name="danger_min"

                        ></ion-input>
                        <ion-toggle
                                (ionChange)="changeState('danger_min','danger_min_toggle', i)"
                                [formControl]="items.controls['danger_min_toggle']"
                        ></ion-toggle>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="{{data[i]['name'] == 'Flaps'?'medium': 'warning'}}">
                        <ion-label position="floating">Min caution</ion-label>
                        <ion-input
                                [formControl]="items.controls['warning_min']"
                                type="number"
                                name="warning_min"
                        ></ion-input>
                        <ion-toggle
                                (ionChange)="changeState('warning_min','warning_min_toggle', i)"
                                [formControl]="items.controls['warning_min_toggle']"
                        ></ion-toggle>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="success">
                        <ion-label position="floating">Min normal</ion-label>
                        <ion-input style="margin-bottom: 32px;"
                                   [formControl]="items.controls['normal_min']"
                                   type="number"
                                   name="normal_min"
                        ></ion-input>

                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="success">
                        <ion-label position="floating">Max normal</ion-label>
                        <ion-input style="margin-bottom: 32px;"
                                   [formControl]="items.controls['normal_max']"
                                   name="normal_max"
                                   type="number"
                        ></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="warning">
                        <ion-label style="font-size: 12px;" position="floating">Max caution</ion-label>
                        <ion-input
                                [formControl]="items.controls['warning_max']"
                                name="warning_max"
                                type="number"
                        ></ion-input>

                        <ion-toggle
                                (ionChange)="changeState('warning_max','warning_max_toggle', i)"
                                [formControl]="items.controls['warning_max_toggle']"
                        ></ion-toggle>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="danger">
                        <ion-label position="floating">Max absolute</ion-label>
                        <ion-input name="danger_max" [formControl]="items.controls['danger_max']"

                                   type="number"></ion-input>
                        <ion-toggle
                                (ionChange)="changeState('danger_max','danger_max_toggle', i)"
                                [formControl]="items.controls['danger_max_toggle']"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid formArrayName="settingGauge">
            <ion-row *ngFor="let items of getControls('settingGauge'); let i=index" [formGroupName]="i">
                <ion-col>
                    <ion-list-header>
                        <ion-item style="width: 170px;">
                            <ion-label style="font-size: 12px;">{{gaugeData[i]['name']}}</ion-label>

                            <ion-toggle *ngIf="gaugeData[i]['name'] == 'MAP'" name="enable"
                                        [formControl]="items.controls['enable']"
                            ></ion-toggle>
                        </ion-item>
                    </ion-list-header>
                </ion-col>

                <ion-col>
                    <ion-item color="danger">
                        <ion-label position="floating">min</ion-label>
                        <ion-input name="min" [formControl]="items.controls['min']"
                                   type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="tertiary">
                        <ion-label position="floating">idle</ion-label>
                        <ion-input name="idle" [formControl]="items.controls['idle']"
                                   type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="success">
                        <ion-label position="floating"> - 55 -</ion-label>
                        <ion-input name="_55" [formControl]="items.controls['_55']"
                                   type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="success">
                        <ion-label position="floating"> - 65 -</ion-label>
                        <ion-input name="_65" [formControl]="items.controls['_65']"
                                   type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="success">
                        <ion-label position="floating"> - 75 -</ion-label>
                        <ion-input name="_75" [formControl]="items.controls['_75']"
                                   type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="success">
                        <ion-label position="floating"> - 100 -</ion-label>
                        <ion-input name="_100" [formControl]="items.controls['_100']"
                                   type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="warning">
                        <ion-label position="floating">Takeoff</ion-label>
                        <ion-input name="Takeoff" [formControl]="items.controls['Takeoff']"
                                   type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item color="danger">
                        <ion-label position="floating">max</ion-label>
                        <ion-input name="max" [formControl]="items.controls['max']"
                                   type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <!--                <ion-col *ngIf="gaugeData[i]['name'] == 'MAP'">-->
                <!--                    <ion-item color="secondary">-->
                <!--                        <ion-label position="fixed">Enable </ion-label>-->
                <!--                        <ion-toggle-->

                <!--                                name="enable" [formControl]="items.controls['enable']"-->
                <!--                        ></ion-toggle>-->
                <!--                    </ion-item>-->
                <!--                </ion-col>-->

            </ion-row>
        </ion-grid>
        <ion-list-header>
            <ion-label>Speed gauge setting</ion-label>
        </ion-list-header>
        <ion-grid formArrayName="speed">
            <ion-row *ngFor="let items of getControls('speed'); let i=index" [formGroupName]="i">
                <ion-row *ngIf="i == 0">
                    <ion-col style="width: 100px;">
                        <ion-list-header>
                            <ion-label>Levels</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col>
                        <ion-item color="danger">
                            <ion-label position="floating">Min</ion-label>
                            <ion-input
                                    [formControl]="items.controls['danger_min']"
                                    type="number"
                                    name="danger_min"

                            ></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="{{data[i]['name'] == 'Flaps'?'medium': 'warning'}}">
                            <ion-label position="floating">Min</ion-label>
                            <ion-input
                                    [formControl]="items.controls['warning_min']"
                                    type="number"
                                    name="warning_min"
                            ></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="success">
                            <ion-label position="floating">Min</ion-label>
                            <ion-input
                                    [formControl]="items.controls['normal_min']"
                                    type="number"
                                    name="normal_min"
                            ></ion-input>

                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="success">
                            <ion-label position="floating">Max</ion-label>
                            <ion-input
                                    [formControl]="items.controls['normal_max']"
                                    name="normal_max"
                                    type="number"
                            ></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="warning">
                            <ion-label style="font-size: 12px;" position="floating">Max</ion-label>
                            <ion-input
                                    [formControl]="items.controls['warning_max']"
                                    name="warning_max"
                                    type="number"
                            ></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="danger">
                            <ion-label position="floating">Max</ion-label>
                            <ion-input name="danger_max" [formControl]="items.controls['danger_max']"

                                       type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="medium">
                            <ion-label position="floating">Min</ion-label>
                            <ion-input name="gray_min" [formControl]="items.controls['gray_min']"

                                       type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="medium">
                            <ion-label position="floating">Max</ion-label>
                            <ion-input name="gray_max" [formControl]="items.controls['gray_max']"

                                       type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="i == 1">
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Vso</ion-label>
                            <ion-input name="Vso" [formControl]="items.controls['Vso']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Vs</ion-label>
                            <ion-input name="Vs" [formControl]="items.controls['Vs']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Vy</ion-label>
                            <ion-input name="Vy" [formControl]="items.controls['Vy']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Vx</ion-label>
                            <ion-input name="Vx" [formControl]="items.controls['Vx']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Vs</ion-label>
                            <ion-input name="Vs" [formControl]="items.controls['Vs']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Vfe</ion-label>
                            <ion-input name="Vfe" [formControl]="items.controls['Vfe']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Vc</ion-label>
                            <ion-input name="Vc" [formControl]="items.controls['Vc']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Va</ion-label>
                            <ion-input name="Va" [formControl]="items.controls['Va']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Vne</ion-label>
                            <ion-input name="Vne" [formControl]="items.controls['Vne']" type="number"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-row>
        </ion-grid>
        <ion-list-header>
            <ion-label>Animate setting</ion-label>
        </ion-list-header>
        <ion-grid formArrayName="animate">
            <ion-row *ngFor="let items of getControls('animate'); let i=index" [formGroupName]="i">
                <ion-row>
                    <ion-col style="width: 100px;">
                        <ion-list-header>
                            <ion-label>{{getAnimateLabel(i)}}</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Time (ms)</ion-label>
                            <ion-input
                                    [formControl]="items.controls['time']"
                                    type="number"
                                    name="time"

                            ></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="">
                            <ion-label position="floating">Step</ion-label>
                            <ion-input
                                    [formControl]="items.controls['step']"
                                    type="number"
                                    step="0.01"
                                    name="step"
                            ></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

            </ion-row>
        </ion-grid>

    </form>
</ion-content>
