html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Settings */
/* Fonts */
@font-face {
  font-family: 'sf_monoregular';
  src: url("../fonts/sfmonoregular.eot");
  src: url("../fonts/sfmonoregular.eot?#iefix") format("embedded-opentype"), url("../fonts/sfmonoregular.woff2") format("woff2"), url("../fonts/sfmonoregular.woff") format("woff"), url("../fonts/sfmonoregular.ttf") format("truetype"), url("../fonts/sfmonoregular.svg#sf_monoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_monolight';
  src: url("../fonts/sfmonolight.eot");
  src: url("../fonts/sfmonolight.eot?#iefix") format("embedded-opentype"), url("../fonts/sfmonolight.woff2") format("woff2"), url("../fonts/sfmonolight.woff") format("woff"), url("../fonts/sfmonolight.ttf") format("truetype"), url("../fonts/sfmonolight.svg#sf_monolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_monomedium';
  src: url("../fonts/sfmonomedium.eot");
  src: url("../fonts/sfmonomedium.eot?#iefix") format("embedded-opentype"), url("../fonts/sfmonomedium.woff2") format("woff2"), url("../fonts/sfmonomedium.woff") format("woff"), url("../fonts/sfmonomedium.ttf") format("truetype"), url("../fonts/sfmonomedium.svg#sf_monomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ===== Reset ===== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background: #0c0c0c;
  color: #fff;
  font-size: 14px;
  font-family: 'sf_monomedium';
  line-height: 22px;
  margin: 0;
}

main {
  display: block;
}

img {
  border: 0;
  max-width: 100%;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a, input, textarea {
  outline: none;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

th {
  font-weight: normal;
  text-align: left;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
}

h2, h3 {
  margin: 0 0 15px;
}

h2 {
  font-size: 14px;
}

hr {
  background: #222;
  border: 0;
  height: 1px;
  clear: both;
  display: block;
  margin: 14px 0 15px;
  padding: 0;
}

.red {
  color: #ff0000;
}

.white {
  color: #fff;
}

.blue {
  color: #00a3ff;
}

/* ===== Responsive grid ===== */
.container {
  margin: 0 auto;
  padding: 9px 0 0;
  width: 1016px;
  display: -ms-flexbox;
  display: flex;
}

.leftcol {
  width: 100%;
}

.sidebar {
  min-width: 378px;
  max-width: 378px;
  margin-left: 4px;
}

.is-clear:after, .container:after {
  content: '';
  clear: both;
  display: block;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px;
}

[class*='grid'] {
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
}

.grid4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.grid6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.grid8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

/* Widjet */
.widjet {
  background: #000;
  border: 1px solid #222;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
    padding: 8px; /*12*/
  position: relative;
  margin: 0 0 4px;
}
.widjet.flex {
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.widjet.click {
  cursor: pointer;
}
.widjet.active {
  border-color: #091372;
}

/* ===== map_rpm ===== */
.map_rpm {
  width: 230px;
}
.map_rpm:after {
  content: '';
  clear: both;
  display: block;
}
.map_rpm img {
  display: block;
}

/* ===== bentscale ===== */
.bentscale {
  display: block;
  position: relative;
  width: 90px;
  height: 292px;
  float: left;
  margin: 0;
}
.bentscale svg, .bentscale img {
  display: block;
}
.bentscale_text {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}
.bentscale_range {
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.bentscale_range svg, .bentscale_range img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px;
  height: 292px;
}
.bentscale_value {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 2px;
}
.bentscale_name {
  color: #828282;
  font-size: 14px;
  line-height: 17px;
}
.bentscale.mirror {
  float: right;
}
.bentscale.mirror .bentscale_text {
  text-align: right;
  left: auto;
  right: 0;
}
.bentscale.mirror img, .bentscale.mirror svg {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.bentscale_data {
  width: 50px;
  color: #828282;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  float: left;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 292px;
}
.bentscale_data span {
  display: block;
  width: 100%;
  margin: 0 0 29px;
}
.bentscale_data span:last-child {
  margin: 0;
}
.bentscale_data span.active {
  color: #fff;
}

img.bentscale_range-green, img.bentscale_range-yellow, img.bentscale_range-red {
  display: none;
}

/* ===== scale ===== */
.scale {
  width: 30px;
  position: relative;
  padding: 24px 0;
}
.scale_inner {
  position: relative;
}
.scale_range {
  position: absolute;
  width: 18px;
  height: 0;
  bottom: 0;
  right: 0;
}
.scale_box {
  width: 2px;
  height: 217px;
  position: relative;
  margin-left: 4px;
}
.scale_box_item {
  width: 2px;
  position: absolute;
  right: 0;
}
.scale_box_item:before, .scale_box_item:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 6px;
  right: 0;
}
.scale_box_item:before {
  top: 0;
}
.scale_box_item:after {
  bottom: 0;
}
.scale_box_item.rb {
  background: #ff0000;
}
.scale_box_item.rb:before {
  background: #ff0000;
}
.scale_box_item.rb:after {
  background: #ff0000;
}
.scale_box_item.rt {
  background: #ff0000;
}
.scale_box_item.rt:before {
  background: #ff0000;
}
.scale_box_item.yb {
  background: #ffe500;
}
.scale_box_item.yb:before {
  background: #ffe500;
}
.scale_box_item.gr {
  background: #1cdb1c;
}
.scale_box_item.gr:before {
  background: #1cdb1c;
}
.scale_val {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  position: absolute;
  top: 0;
  left: 8px;
}
.scale_name {
  color: #828282;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
.scale_data {
  color: #828282;
  font-size: 8px;
  line-height: 8px;
  text-align: center;
  position: relative;
  width: 38px;
  text-transform: uppercase;
  height: 217px;
}
.scale_data span {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
}
.scale_small .scale_box {
  height: 110px;
}
.scale_small .scale_val {
  font-size: 12px;
  line-height: 14px;
  left: 3px;
}

/* ===== TANK ===== */
.tankbox {
  width: 98px;
}
.tankbox_scales {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px;
}
.tankbox_title {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

/* ===== smallwidjet ===== */
.widjet.active .smallwidjet {
  color: #fff;
}
.widjet.active .smallwidjet_title:before, .widjet.active .smallwidjet_title:after {
  border-color: #fff;
}

.smallwidjet {
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: 14px;
  line-height: 17px;
}
.smallwidjet .red {
  color: #ff0000;
}
.smallwidjet .yellow {
  color: #ffe500;
}
.smallwidjet_left {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.smallwidjet_titles {
  display: -ms-flexbox;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.smallwidjet_values {
  display: -ms-flexbox;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}
.smallwidjet_name {
  display: block;
  width: 100%;
}
.smallwidjet_title {
  display: block;
  position: relative;
}
.smallwidjet_title:before, .smallwidjet_title:after {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 12px;
  border-left: 1px solid #616161;
}
.smallwidjet_title:before {
  border-top: 1px solid #616161;
  top: -15px;
}
.smallwidjet_title:after {
  border-bottom: 1px solid #616161;
  bottom: -15px;
}
.smallwidjet_title.redt, .smallwidjet_title.redb {
  color: #ff0000;
}
.smallwidjet_title.redt:before {
  border-color: #ff0000 !important;
}
.smallwidjet_title.redb:after {
  border-color: #ff0000 !important;
}

/* ===== oilbox ===== */
.oilrow {
  padding: 12px 0;
}

.oilrow .oilbox {
  border-left: 1px solid #222;
  width: 50%;
}
.oilrow .oilbox:first-child {
  border-left: 0;
}

.oilbox {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oilbox_title {
  color: #828282;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 23px 0 0;
}
.oilbox_title img {
  display: block;
  margin: 0 auto 16px;
}
.oilbox_title span {
  display: block;
}
.oilbox_title.red {
  color: #ff0000;
}
.oilbox .scale {
  margin: 0 20px 0 0;
}
.oilbox .scale:last-child {
  margin: 0;
}

.oilrow2 {
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0;
}
.oilrow2 .oilbox {
  border-left: 1px solid #222;
  padding: 0 16px;
  width: 100%;
}
.oilrow2 .oilbox:first-child {
  border-left: 0;
}
.oilrow2 .oilbox_title {
  margin-right: 12px;
}
.oilrow2 .oilbox .scale {
  margin: 0 12px 0 0;
}
.oilrow2 .oilbox .scale:last-child {
  margin: 0;
}
.oilrow2 .oilbox2 .scale {
  width: 25px;
}
.oilrow2 .oilbox2 .scale_range {
  width: 13px;
}

#cht_egt, #flaps {
  display: none;
}

/* ===== flaps / trim /gear ===== */
.flaps_trim {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 22px 12px;
}
.flaps_trim_item {
  height: 138px;
  position: relative;
}
.flaps_trim_title {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.flapsbox {
  width: 108px;
}
.flapsbox_img {
  position: absolute;
  left: 0;
  top: 60px;
}
.flapsbox_scale {
  position: absolute;
  right: 0;
  top: 20px;
}
.flapsbox_value {
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color: #1cdb1c;
}
.flapsbox .flaps_trim_title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.flapsbox_arrow {
  position: absolute;
  left: 54px;
  top: 61px;
  background: #1cdb1c;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.flapsbox_arrow:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 33px;
  border-color: transparent transparent transparent #1cdb1c;
  left: 8px;
  top: 0;
}
.flapsbox_arrow.yel {
  background: #ffe500;
}
.flapsbox_arrow.yel:before {
  border-color: transparent transparent transparent #ffe500;
}
.flapsbox_arrow.grey {
  background: #828282;
}
.flapsbox_arrow.grey:before {
  border-color: transparent transparent transparent #828282;
}

/* ===== gearbox ===== */
.gearbox {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.gearbox .flaps_trim_title {
  color: #828282;
}
.gearbox .flaps_trim_title.red {
  color: #ff0000;
}
.gearbox .flaps_trim_title.white {
  color: #fff;
}
.gearbox_item {
  width: 100%;
}
.gearbox_val {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  width: 16px;
  height: 16px;
  background: #665c00;
  margin: 5px auto;
}
.gearbox_val.active {
  background: #ff0000;
}

/* ===== trimbox ===== */
.trimbox .flaps_trim_title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.trimbox_scale {
  background: url(../images/trim.svg) no-repeat;
  width: 95px;
  height: 116px;
  position: relative;
}
.trimbox_arrows {
  position: absolute;
  left: 32px;
  top: 58px;
  width: 30px;
  margin-top: -6px;
}
.trimbox_arrow {
  border: 5px solid transparent;
  border-left: 7px solid #1cdb1c;
  position: absolute;
  left: 0;
  top: 0;
}
.trimbox_arrow_right {
  border: 5px solid transparent;
  border-right: 7px solid #1cdb1c;
  left: auto;
  right: 0;
}
.trimbox_arrow.yellow {
  border-left-color: #ffe500;
}
.trimbox_arrow_right.yellow {
  border-left: 0;
  border-right-color: #ffe500;
}
.trimbox_bottom {
  height: 6px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.trimbox_bottom_range {
  position: absolute;
  top: 0;
  height: 6px;
  background: #ffe500;
  width: 0;
}
.trimbox_bottom_left {
  right: 47px;
}
.trimbox_bottom_right {
  left: 47px;
}
.trimbox_topscale {
  position: absolute;
  left: -1px;
  width: 96px;
  top: 9px;
}
.trimbox_topscale_left {
  position: absolute;
  width: 0;
  height: 15px;
  overflow: hidden;
  right: 47px;
  top: 0;
}
.trimbox_topscale_left svg {
  position: absolute;
  right: -42px;
}
.trimbox_topscale_right {
  position: absolute;
  width: 0;
  height: 15px;
  overflow: hidden;
  left: 47px;
  top: 0;
}
.trimbox_topscale_right svg {
  position: absolute;
  left: -42px;
}

/* ===== shortwidjet ===== */
.bars {
  background: url(../images/bars.svg) no-repeat;
  display: block;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
}

.bars.red {
  background-image: url(../images/bars2.svg);
}

.shortwidjet {
  position: relative;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  padding: 12px;
  padding-right: 70px;
  min-height: 62px;
}
.shortwidjet:last-child {
  margin: 0;
}
.shortwidjet .bars {
  position: absolute;
  right: 12px;
  top: 12px;
}

/* UPDATE */
.shortwidjet {
  min-height: 60px;
}

.shortwidjet.flexed {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}

.widjet_info {
  display: block;
  margin: 0 20px 0 0;
}
.widjet_info:last-child {
  margin: 0;
}
.widjet_info small {
  color: #828282;
  display: block;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}
.widjet_info_name {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

/* compas */
.compas {
  width: 100%;
  height: 100%;
  position: relative;
}
.compas #compasbox {
  position: relative;
  width: 100%;
  height: 100%;
}
.compas_inner {
  margin: 0 auto;
  width: 186px;
  height: 186px;
  position: relative;
}
.compas:before {
  background: url(../images/plane.svg) no-repeat;
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -8px;
  background-size: cover;
  z-index: 10;
}
.compas img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.compas_arrow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.compas_arrow_triangle {
  content: '';
  display: block;
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 7px solid #00a3ff;
  left: 50%;
  top: 56px;
  margin-left: -5px;
}
.compas_arrow_triangle.reverse {
  border: 5px solid transparent;
  border-top: 7px solid #00a3ff;
}
.compas_arrow_circle {
  border: 1px solid #222;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 94px;
  height: 94px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  margin: -47px 0 0 -47px;
  z-index: 20;
}
.compas_arrow_rarr1, .compas_arrow_rarr2 {
  position: absolute;
  width: 2px;
  background: #00a3ff;
  height: 43px;
  left: 50%;
  margin-left: -1px;
}
.compas_arrow_rarr1 {
  top: 4px;
}
.compas_arrow_rarr1:after {
  content: '';
  display: block;
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 7px solid #00a3ff;
  left: 50%;
  top: -6px;
  margin-left: -5px;
}
.compas_arrow_rarr2 {
  bottom: 4px;
}
.compas_arrow_dot {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #828282;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
}
.compas_arrow_dot.llt {
  background: #4b4b4b;
  margin-left: -32px;
}
.compas_arrow_dot.lt {
  margin-left: -17px;
}
.compas_arrow_dot.rt {
  margin-left: 13px;
}
.compas_arrow_dot.rrt {
  background: #4b4b4b;
  margin-left: 28px;
}
.compas_arrow_line {
  position: absolute;
  width: 2px;
  height: 100px;
  background: #00a3ff;
  left: 50%;
  top: -3px;
  margin-left: -1px;
}
.compas_dig {
  color: #828282;
  position: absolute;
  font-size: 12px;
  line-height: 12px;
}
.compas_dig.white {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
.compas_gps {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 94px;
  height: 94px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  margin: -47px 0 0 -47px;
  z-index: 25;
  border: 1px solid #222;
}
.compas_gps_inner {
  background: #000;
  border: 1px solid #222;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 25px;
  bottom: -4px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  padding-top: 3px;
}
.compas_wrapper {
  position: relative;
  padding-top: 38px;
  margin-left: 27px;
}
.compas_tracker {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.compas_tracker li {
  color: #00a3ff;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  width: 110px;
  text-align: left;
}
.compas_tracker li small {
  color: #828282;
}
.compas_tracker li:first-child {
  text-align: right;
}
.compas_tracker li.mid {
  border: 1px solid #222;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 4px;
  padding: 0 5px;
  width: auto;
}
.compas_btn {
  position: absolute;
  background: 0;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  margin: 0;
  padding: 0;
  z-index: 50;
  width: 80px;
  height: 80px;
  top: -20px;
  border: 0;
  cursor: pointer;
}
.compas_btn#course_left {
  left: -30px;
}
.compas_btn#course_right {
  right: -30px;
}

/* compas_small_scale */
.compas_scale {
  background: url(../images/small_scale.svg) no-repeat;
  width: 78px;
  height: 16px;
  position: absolute;
  left: 50%;
  margin-left: -39px;
  top: -9px;
}
.compas_scale_left, .compas_scale_right {
  position: absolute;
  width: 0;
  height: 16px;
  top: 0;
  overflow: hidden;
}
.compas_scale svg {
  position: absolute;
  top: 0;
}
.compas_scale_left {
  right: 50%;
}
.compas_scale_left svg {
  right: -39px;
}
.compas_scale_right {
  left: 50%;
}
.compas_scale_right svg {
  left: -39px;
}

/* wind_meter */
.wind_meter {
  border: 1px solid #222;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 8px 10px;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  width: 120px;
  justify-content: space-between;
  margin-top: 2px;
  margin-left: 30px;
}
.wind_meter p {
  display: block;
  margin: 0 0 4px;
}
.wind_meter p:last-child {
  margin: 0;
}
.wind_meter_text {
  text-align: right;
}
.wind_meter_box {
  width: 38px;
  height: 38px;
  position: relative;
}
.wind_meter_arrow {
  position: absolute;
  width: 2px;
  background: #00a3ff;
  height: 38px;
  left: 50%;
  top: 50%;
  margin-top: -19px;
}
.wind_meter_arrow:after {
  content: '';
  display: block;
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 7px solid #00a3ff;
  left: 50%;
  top: -6px;
  margin-left: -5px;
}

/* compas_widjet */
.compas_widjet {
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 12px;
}
.compas_widjet_left {
  display: -ms-flexbox;
  display: flex;
}
.compas_widjet .bars {
  position: absolute;
  top: auto;
  bottom: 12px;
  right: 12px;
}
.compas_widjet .widjet_info {
  margin: 0 15px 6px 0;
  width: 130px;
}
.compas_widjet .widjet_info:last-child {
  margin: 0;
}

.planebtn {
  background: url(../images/planebtn.png) no-repeat;
  padding: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  margin: 0;
  border: 0;
  position: absolute;
  left: -77px;
  top: 50%;
  margin-top: -10px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .planebtn {
    background: url(../images/planebtn-2x.png) no-repeat;
    background-size: 60px 60px;
  }
}
/* mainpanel */
.mainpanel {
  height: 440px;
  margin: 0;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-bottom: 0;
  position: relative;
  padding: 10px 30px;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.mainpanel_inner {
  display: -ms-flexbox;
  display: flex;
}

.mainpanel_middle {
  min-width: 280px;
  max-width: 280px;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  margin: 0 34px 0 38px;
}

.mainpanel_middle_top {
  width: 100%;
}

.container {
  padding-top: 26px;
}

.mainpanel {
  height: 422px;
}

.widjet.widjet_rpm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.widjet_clicks .widjet {
  padding-top: 9px;
  padding-bottom: 9px;
}

.smallwidjet {
  height: 58px;
}

.widjet_half .smallwidjet {
  height: 61px;
}

/* gyroball */
.gyroball {
  background: #1b1b1b;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 128px;
  height: 26px;
  position: relative;
}

.gyroball:before, .gyroball:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 26px;
  top: 0;
  background: #828282;
}

.gyroball:before {
  left: 50px;
}

.gyroball:after {
  right: 50px;
}

.gyroball_dot {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #fff;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -9px;
  z-index: 10;
}

/* compastop */
.compastop {
  background: #191919;
  width: 100%;
  height: 26px;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  position: relative;
}

.compastop_arrow {
  background: #0C0C0C;
  border: 1px solid #828282;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  border-bottom-color: #fff;
  width: 56px;
  height: 29px;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  left: 50%;
  margin-left: -28px;
  bottom: 7px;
}

.compastop_arrow:after {
  content: '';
  display: block;
  position: absolute;
  border: 12px solid transparent;
  border-top: 5px solid #fff;
  left: 50%;
  bottom: -18px;
  margin-left: -12px;
}

.compastop_wrap {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 26px;
  padding: 0 140px;
}

.compastop_wrap:before, .compastop_wrap:after {
  content: '';
  display: block;
  position: absolute;
  height: 26px;
  top: 0;
  width: 100px;
  z-index: 10;
}

.compastop_wrap:before {
  left: 0;
  background: linear-gradient(to right, #191919 0%, rgba(25, 25, 25, 0) 100%);
}

.compastop_wrap:after {
  right: 0;
  background: linear-gradient(to right, rgba(25, 25, 25, 0) 0%, #191919 100%);
}

.compastop_scale {
  background: url(../images/compas-scale.svg) 0 0 repeat-x;
  width: 10650px;
  height: 21px;
  left: -6340px;
  position: absolute;
  bottom: 0;
}

/* numbersbox */
.numbersbox {
  position: relative;
  width: 80px;
}

.numbersbox.right {
  width: 95px;
}

.numbersbox_head {
  background: #222;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
  width: 100%;
}

.numbersbox_content {
  background: #2b2b2b;
  width: 100%;
  height: 290px;
  position: relative;
  overflow: hidden;
}

.numbersbox_content:before, .numbersbox_content:after {
  content: '';
  display: block;
  position: absolute;
  height: 100px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.numbersbox_content:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
}

.numbersbox_content:after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.85) 100%);
}

.numbersbox_footer {
  background: #222;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  color: #828282;
  font-size: 12px;
  line-height: 16px;
}

.numbersbox_footer_item {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 8px;
  position: relative;
}

.numbersbox_footer_item:before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  background: #0c0c0c;
  left: 8px;
  bottom: 0;
  right: 8px;
}

.numbersbox_footer_item:last-child::before {
  content: none;
  display: none;
}

.numbersbox_footer_item.center {
  justify-content: center;
}

.numbersbox_footer_value {
  color: #fff;
}

.numbersbox_footer_value.blue {
  color: #00a3ff;
}

.numbers_scale {
  background: #222;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 5;
  padding: 130px 0;
}

.numbers_scale_item {
  color: #bdbdbd;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  padding: 5px 0;
}

.numbers_scale_item:after {
  content: '';
  display: block;
  position: absolute;
  border-top: 2px solid #1cdb1c;
  border-right: 2px solid #1cdb1c;
  right: 0;
  width: 4px;
  height: 30px;
  top: 15px;
}

.numbers_scale_item.yellow:after {
  border-color: #ffe500;
}

.numbers_scale_item.red:after {
  border-color: #ff0000;
}

.numbers_scale_item.fst:after {
  height: 0;
  top: 15px;
}

.numbers_scale.rt .numbers_scale_item:after {
  left: 0;
  right: auto;
  border-right: 0;
  border-left-width: 2px;
  border-top-color: #fff;
  border-left-style: solid;
}

.numbers_fixed {
  background: #0c0c0c;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px 5px 4px 8px;
  z-index: 20;
  position: absolute;
  right: 7px;
  top: 50%;
  color: #fff;
  margin-top: -18px;
  min-width: 65px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-align: right;
}

.numbers_fixed:after {
  content: '';
  display: block;
  position: absolute;
    background: url(/assets/images/arrow.svg) no-repeat;
  width: 7px;
  height: 20px;
  position: absolute;
  right: -6px;
  top: 50%;
  margin-top: -10px;
}

.numbers_fixed_num {
  position: relative;
  z-index: 5;
}

.numbers_fixed_slide {
  background: #0c0c0c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-right: 1px solid #fff;
  right: 0;
  width: 30px;
  height: 54px;
  position: absolute;
  top: 50%;
  margin-top: -27px;
  overflow: hidden;
}

.numbers_fixed_slide:before, .numbers_fixed_slide:after {
  content: '';
  display: block;
  position: absolute;
  height: 24px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.numbers_fixed_slide:before {
  top: 0;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, transparent 100%);
}

.numbers_fixed_slide:after {
  bottom: 0;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.95) 100%);
}

.numbers_fixed_slide_top, .numbers_fixed_slide_bottom {
  position: absolute;
  left: 7px;
  text-align: right;
  padding-right: 4px;
  font-size: 22px;
  width: 17px;
  overflow: hidden;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
}

.numbers_fixed_slide_top b, .numbers_fixed_slide_bottom b {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: normal;
  display: block;
}

.numbers_fixed_slide_top {
  top: -10px;
}

.numbers_fixed_slide_bottom {
  bottom: -10px;
}

.numbers_fixed.rt {
  right: auto;
  left: 7px;
  min-width: 80px;
  border-left: 1px solid #fff;
}

.numbers_fixed.rt:after {
  right: auto;
  left: -7px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.numbers_fixed.rt .numbers_fixed_slide {
  border: 0;
  width: 44px;
}

.numbers_fixed.rt .numbers_fixed_slide_top, .numbers_fixed.rt .numbers_fixed_slide_bottom {
  width: 34px;
  left: 4px;
}

.vx_scale {
  background: #414141;
  width: 8px;
  height: 332px;
  position: absolute;
  bottom: 143px;
  left: 100%;
}

.vx_scale_item {
  color: #00A3FF;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  z-index: 10;
  padding-left: 8px;
  left: 100%;
  margin-left: 3px;
  top: 50%;
  margin-top: -5px;
}

.vx_scale_item:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  left: 0;
  top: 4px;
  width: 3px;
  height: 3px;
  background: #00a3ff;
}

.vx_scale_item.v63 {
  margin-top: -14px;
}

.vx_scale_item.v71 {
  margin-top: -8px;
}

.vx_scale_item.v98 {
  margin-top: -29px;
}

.vx_scale_item.v104 {
  margin-top: -17px;
}

.vx_scale_item.v144 {
  margin-top: -17px;
}

.vx_scale_item.v165 {
  margin-top: -21px;
}

.vx_scale_add {
  width: 2px;
  position: absolute;
  right: 0;
  bottom: 50%;
}

.vx_scale_add.h63 {
  background: #ff0000;
  height: 8px;
}

.vx_scale_add.h71 {
  background: #ffe500;
  height: 3px;
}

.vx_scale_add.h165 {
  background: #1cdb1c;
  height: 15px;
}

/* numbersbox_content_left */
.numbersbox_content_left {
  background: 0;
  width: 110px;
}

.numbersbox_content_left .numbers_scale {
  width: 80px;
}

.numbersbox_content_left .numbers_fixed {
  right: 38px;
}

/* mainscreen */
.mainscreen {
  width: 100%;
  height: 290px;
  position: relative;
  border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.mainscreen_wrapper {
  width: 100%;
  position: relative;
}

.mainscreen3 {
  background: #0D2DF6;
}

.mainscreen_btn {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 0;
  background: 0;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  margin: -45px 0 0 -45px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
}

/* mainscreen3 */
.plane1 {
    background: url(/assets/images/screen3/plane_scale-2.svg) no-repeat;
  width: 32px;
  height: 126px;
  position: absolute;
  left: 95px;
  top: 14px;
}

.plane1_arrow {
    background: url(/assets/images/screen3/plane2.svg) no-repeat;
  width: 125px;
  height: 62px;
  position: absolute;
  left: 12px;
  top: 33px;
}

.plane2 {
    background: url(/assets/images/screen3/plane_scale-1.svg) no-repeat;
  width: 176px;
  height: 65px;
  position: absolute;
  right: 20px;
  bottom: 36px;
}

.plane2_arrow {
    background: url(/assets/images/screen3/plane1.svg) no-repeat;
  width: 156px;
  height: 55px;
  position: absolute;
  left: 50%;
  margin-left: -78px;
  top: -23px;
}

/* mainscreen2 */
.mainscreen2 {
  overflow: hidden;
}

.mainscreen2_bg {
  position: relative;
  height: 100%;
  width: 100%;
}

.mainscreen2_bg_top, .mainscreen2_bg_bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1152px;
}

.mainscreen2_bg_top:before, .mainscreen2_bg_bottom:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1152px;
}

.mainscreen2_bg_top {
  background: linear-gradient(to bottom, #2079ff 0%, #2fc1ff 50%, #2079ff 100%);
  border-top: 1px solid #fff;
  bottom: 50%;
}

.mainscreen2_bg_top:before {
  background: linear-gradient(to bottom, #139273 0%, #90CA99 50%, #139273 100%);
  bottom: 100%;
  margin-bottom: 1px;
}

.mainscreen2_bg_bottom {
  background: linear-gradient(to bottom, #139273 0%, #90CA99 50%, #139273 100%);
  border-bottom: 1px solid #fff;
  top: 50%;
}

.mainscreen2_bg_bottom:before {
  background: linear-gradient(to bottom, #2079ff 0%, #2fc1ff 50%, #2079ff 100%);
  top: 100%;
  margin-top: 1px;
}

.mainscreen2_bg_horizon {
  background: #fff;
  position: absolute;
  left: 50%;
  width: 460px;
  margin-left: -230px;
  top: 50%;
  height: 1px;
}

.mainscreen2_bg_wrap {
  height: 100%;
  width: 460px;
  left: 50%;
  margin-left: -230px;
  position: relative;
}

.mainscreen2_roll {
    background: url(/assets/images/screen2/roll.svg) no-repeat;
  width: 234px;
  height: 234px;
  position: absolute;
  left: 50%;
  top: 29px;
  margin: 0 0 0 -117px;
}

.mainscreen2_plane {
    background: url(/assets/images/screen2/plane3.svg) no-repeat;
  width: 188px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -94px;
}

.mainscreen2_meter {
    background: url(/assets/images/screen2/screen-meter.svg) no-repeat;
  margin-left: -38px;
  width: 76px;
  height: 136px;
  position: absolute;
  left: 50%;
  top: 75px;
}

/* .mainscreen1 */
.mainscreen1 {
  overflow: hidden;
}

.mainscreen1_arrow {
    background: url(/assets/images/screen1/arrow.svg) no-repeat;
  width: 156px;
  height: 23px;
  position: absolute;
  left: 50%;
  top: 141px;
  margin: 0 0 0 -78px;
}

/* pitch_scale */
.scales_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roll_scale {
    background: url(/assets/images/screen1/scale-top.svg) no-repeat;
  width: 166px;
  height: 38px;
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -83px;
}

.roll_scale_arrow {
  background: url(../images/roll-arrow.svg) no-repeat;
  width: 11px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: -9px;
  margin-left: -5px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.roll_arrow {
    background: url(/assets/images/roll-arrow.svg) no-repeat;
  width: 11px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 32px;
  margin-left: -5px;
}

.pitch_scale {
  color: #fff;
  font-size: 8px;
  line-height: 10px;
  position: relative;
  z-index: 1000;
  width: 86px;
  height: 164px;
  overflow: hidden;
}

.pitch_scale_inner {
  background: url(/assets/images/screen-meter.svg) no-repeat;
  width: 86px;
  height: 2708px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1360px;
  margin-left: -43px;
}

/* mainscreen2 */
.mainscreen2 .pitch_scale {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -82px 0 0 -43px;
}

/* speed_height */
.speed_height {
  background: #191919;
  width: 38px;
  height: 290px;
  border-left: 2px solid #fff;
  padding-top: 9px;
  position: absolute;
  left: 100%;
  top: 26px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.speed_height_item {
  position: relative;
  padding-left: 4px;
  text-align: right;
  padding-right: 7px;
  margin: 0 0 22px;
  min-height: 20px;
}

.speed_height_item:before {
  content: '';
  display: block;
  position: absolute;
  background: #fff;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  width: 4px;
  left: 0;
}

.speed_height_item:last-child {
  margin: 0;
}

.speed_height_item.v0:before {
  width: 10px;
  z-index: 100;
}

.speed_height_zero {
  position: absolute;
  border: 26px solid transparent;
  border-right: 26px solid #000;
  top: 50%;
  margin-top: -26px;
  right: 0;
  z-index: 50;
}

.speed_height_zero:after {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  top: 50%;
  margin-top: -10px;
  right: -20px;
}

.speed_height_arrow {
  background: url(../images/height-arrow.svg) no-repeat;
  width: 64px;
  height: 33px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -16px;
  z-index: 150;
  padding-top: 1px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  padding-left: 8px;
}

/* angle */
.angle {
  width: 55px;
}

.angle_header {
  background: #0C0C0C;
  opacity: 1;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  padding: 3px;
}

.angle_content {
  background: #0C0C0C;
  opacity: 0.8;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  min-height: 64px;
  padding: 5px 0;
}

.angle_scale {
  background: url(../images/angle-scale.svg) no-repeat;
  background-size: cover;
  width: 29px;
  height: 52px;
  position: relative;
  margin: 0 0 0 7px;
}

.angle_range {
  position: absolute;
  height: 0;
  width: 22px;
  overflow: hidden;
  left: 24px;
  bottom: 0;
  height: 52px;
}

.angle_range svg {
  position: absolute;
  left: 0;
}

.angle_range_top, .angle_range_bottom {
  position: absolute;
  width: 100%;
  left: 0;
  height: 0;
  overflow: hidden;
}

.angle_range_top {
  bottom: 26px;
}

.angle_range_top svg {
  bottom: -26px;
}

.angle_range_bottom {
  top: 26px;
}

.angle_range_bottom svg {
  top: -26px;
}

.mainscreen1 .angle {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.mainscreen2 .angle {
  position: absolute;
  right: 8px;
  top: 8px;
}

.mainscreen3 .angle {
  position: absolute;
  left: 8px;
  bottom: 30px;
}

/* Slider */
#custom-handle, #custom-handle2, #custom-handle3, #custom-handle4, #custom-handle5, #custom-handle6,
#custom-handle7, #custom-handle8, #custom-handle9, #custom-handle10, #custom-handle11, #handle-kmh,
#handle-gyro, #handle-compas, #handle-screen1, #handle-screen2, #handle-screen3, #handle-pitch,
#handle-heeling, #handle-pitch2, #handle-angle, #handle-m, #handle-height {
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.settings, .settings2 {
  background: #252525;
  z-index: 1000;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 14px;
  width: 320px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  color: #fff;
  transform: translate(320px);
  -ms-transform: translate(320px);
  z-index: 500;
}

.settings.open, .settings2.open {
  transform: translate(0px);
  -ms-transform: translate(0px);
  z-index: 1000;
}

.settings .bars, .settings2 .bars {
  position: absolute;
  left: -46px;
  top: 10px;
}

.settings2 .bars {
  top: 60px;
}

.field {
  margin: 0 0 40px;
}

.btn {
  background: #333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  border: 0;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  text-decoration: none;
  padding: 6px 12px;
}
.btn.active {
  background: #ff0000;
}

.btn.block {
  display: block;
  margin: 0 0 20px;
  font-size: 14px;
}

.row.field {
  margin-left: -14px;
  margin-right: -14px;
}

.row.field .grid6 {
  padding: 0 14px;
}

.heiht_button {
  position: absolute;
  z-index: 101;
  /*border: red solid 1px;*/
  height: 120px;
  width: 100px;
}

.heiht_top {
  top: 0px;

}

.heiht_bottom {
  bottom: 0px;
}
