<div class="widjet shortwidjet flexed">
    <div class="widjet_info">
        <small>utc time</small>
        <div class="widjet_info_name" [class.h20]="!utcTime">{{utcTime}}</div>

    </div>
    <div class="widjet_info">
        <small>Local time</small>
        <div class="widjet_info_name" [class.h20]="!localTime">{{localTime}}</div>
    </div>
    <div class="widjet_info">
        <small>OAT</small>
        <div class="widjet_info_name" [class.h20]="!oat">{{oat | number: "1.0-0"}}&deg;C</div>
    </div>
    <a href="#" class="bars"></a>
</div><!-- /widjet -->


<div class="widjet compas_widjet">
    <div *ngIf="!showMenu" class="compas_widjet_left">
        <div class="compas_data">
            <div class="widjet_info">
                <small>Waypoint</small>
                <div class="widjet_info_name">{{wptName}}</div>
            </div>
            <div class="widjet_info">
                <small>Course</small>
                <div class="widjet_info_name"><span class="course_value">{{course| number: "1.1-1"}}</span>&deg;</div>
            </div>
            <div class="widjet_info">
                <small>Distance</small>
                <div class="widjet_info_name">{{distanceToWaypoint | number: "1.1-1"}} km</div>
            </div>
            <div class="widjet_info">
                <small>Deviation</small>
                <div class="widjet_info_name">
                    <span class="deviation_value">{{getDeviationValue() | number: "1.1-1"}}</span>km
                    <span *ngIf="deviation < 0" class="deviation_arrow"><</span>
                    <span *ngIf="deviation > 0" class="deviation_arrow">></span>
                </div>
            </div>
            <div class="widjet_info">
                <small>Time to</small>
                <div class="widjet_info_name">{{timeTo}}</div>
            </div>
            <div class="widjet_info">
                <small>WPT ETA</small>
                <div class="widjet_info_name">{{wptEta}}</div>
            </div>
        </div><!-- /compas_data -->


        <div class="compas_wrapper">
            <button (click)="changeSmartSkyOn()" type="button" class="planebtn"
                    [class.planebtn-gray]='!smartSkyOn'></button>
            <ul class="compas_tracker">
                <li><small>DIS</small> {{distanceToWaypoint | number: "1.1-1"}}</li>
                <li class="mid"><span class="course_value">{{track| number: "1.1-1"}}</span>
                    &deg;
                    <!--                    M-->
                </li>
                <li>
                    <small>DEV</small>
                    <span class="deviation_value"> {{getDeviationValue()| number: "1.1-1"}}</span>km
                    <span *ngIf="deviation < 0" class="deviation_arrow">&lt;</span>
                    <span *ngIf="deviation > 0" class="deviation_arrow">></span>
                </li>
            </ul><!-- /compas_tracker -->
            <div class="compas_inner">
                <div class="compas_scale">
                    <div class="compas_scale_left" [style.width]="(turn<0)? getTurn(turn) + 'px':'0px'">
                        <svg width="78" height="16" viewBox="0 0 78 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="-3" width="73"
                                  height="16">
                                <path d="M39.0776 7.00603L39 6.99383L38.9224 7.00603L4.30643 12.4457L3.0986 9.62743L12.2834 1.13258L38.9489 -2.48847L74.3894 9.81725L73.6407 12.4374L39.0776 7.00603Z"
                                      fill="#00A3FF" stroke="#00A3FF"/>
                            </mask>
                            <g mask="url(#mask0)">
                                <circle cx="38.5" cy="101.5" r="97" stroke="#00A3FF" stroke-width="3"/>
                            </g>
                        </svg>
                    </div>
                    <div class="compas_scale_right" [style.width]="(turn>0)?turn + 'px':'0px'">
                        <svg width="78" height="16" viewBox="0 0 78 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="-3" width="73"
                                  height="16">
                                <path d="M39.0776 7.00603L39 6.99383L38.9224 7.00603L4.30643 12.4457L3.0986 9.62743L12.2834 1.13258L38.9489 -2.48847L74.3894 9.81725L73.6407 12.4374L39.0776 7.00603Z"
                                      fill="#00A3FF" stroke="#00A3FF"/>
                            </mask>
                            <g mask="url(#mask0)">
                                <circle cx="38.5" cy="101.5" r="97" stroke="#00A3FF" stroke-width="3"/>
                            </g>
                        </svg>
                    </div>
                </div><!-- /compas_scale -->
                <div class="compas_gps">
                    <div class="compas_gps_inner">GPS {{deviationScale}}km</div>
                </div>
                <div class="compas">
                    <button class="compas_btn" id="course_left" (click)="changeCourse(-5)"></button>
                    <button class="compas_btn" id="course_right" (click)="changeCourse(5)"></button>
                    <div id="compasbox" [style.transform]="'rotate(-'+ track +'deg)'">
                        <img src="/assets/images/compas.svg" alt="">
                        <div class="compas_dig" style="right: 50px; top: 24px;"
                             [style.transform]="'rotate('+ track +'deg)'">03
                        </div>
                        <div class="compas_dig" style="right: 23px; top: 48px;"
                             [style.transform]="'rotate('+ track +'deg)'">06
                        </div>
                        <div class="compas_dig" style="right: 23px; top: 124px;"
                             [style.transform]="'rotate('+ track +'deg)'">12
                        </div>
                        <div class="compas_dig" style="right: 50px; top: 150px;"
                             [style.transform]="'rotate('+ track +'deg)'">15
                        </div>
                        <div class="compas_dig" style="left: 50px; top: 24px;"
                             [style.transform]="'rotate('+ track +'deg)'">33
                        </div>
                        <div class="compas_dig" style="left: 23px; top: 48px;"
                             [style.transform]="'rotate('+ track +'deg)'">30
                        </div>
                        <div class="compas_dig" style="left: 23px; top: 124px;"
                             [style.transform]="'rotate('+ track +'deg)'">24
                        </div>
                        <div class="compas_dig" style="left: 50px; top: 150px;"
                             [style.transform]="'rotate('+ track +'deg)'">21
                        </div>
                        <div class="compas_dig white" style="right: 89px; top: 15px;"
                             [style.transform]="'rotate('+ track +'deg)'">N
                        </div>
                        <div class="compas_dig white" style="right: 89px; top: 160px;"
                             [style.transform]="'rotate('+ track +'deg)'">S
                        </div>
                        <div class="compas_dig white" style="right: 12px; top: 86px;"
                             [style.transform]="'rotate('+ track +'deg)'">E
                        </div>
                        <div class="compas_dig white" style="left: 12px; top: 86px;"
                             [style.transform]="'rotate('+ track +'deg)'">W
                        </div>
                    </div><!-- #compasbox -->
                    <div id="compas_arrow" class="compas_arrow" [style.transform]="'rotate('+ getCourse() +'deg)'">
                        <div class="compas_arrow_triangle "
                             [class.reverse]="bearing - course > 90 && bearing - course < 270"></div>
                        <div class="compas_arrow_rarr1"></div>
                        <div class="compas_arrow_rarr2"></div>
                        <div class="compas_arrow_dot llt"></div>
                        <div class="compas_arrow_dot lt"></div>
                        <div class="compas_arrow_dot rt"></div>
                        <div class="compas_arrow_dot rrt"></div>
                        <div class="compas_arrow_circle">
                            <div class="compas_arrow_line"
                                 [style.transform]="'translateX('+ getDeviationView() +'px)'"></div>
                        </div>
                    </div>
                </div><!-- /compas -->
            </div><!-- /compas_inner -->
        </div><!-- /compas_wrapper -->
    </div><!-- /compas_widjet_left -->


    <div *ngIf="!showMenu" class="wind_meter">
        <div class="wind_meter_box">
            <div class="wind_meter_arrow" [style.transform]="'rotate('+ getWing() +'deg)'"></div>
        </div>
        <div class="wind_meter_text">
            <p>{{wingSpeed}}</p>
            <p><span class="wind_value">{{wingHead}}</span>&deg;</p>
        </div>
    </div><!-- /wind_meter -->
    <div id="navMenu" style="height: 230px;" *ngIf="showMenu">
        <form [formGroup]="form" novalidate>
            <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        <ion-label position="stacked">Waypoint</ion-label>
                        <input class="input" name="NEXTWPT" formControlName="NEXTWPT" type="text"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Latitude</ion-label>
                        <input class="input" name="NEXTLAT" formControlName="NEXTLAT" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Longtitude</ion-label>
                        <input class="input" name="NEXTLONG" formControlName="NEXTLONG" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Course</ion-label>
                        <input class="input" name="NEXTCOURSE" formControlName="NEXTCOURSE" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Mdecl</ion-label>
                        <input class="input" name="NEXTDECL" formControlName="NEXTDECL" step="0.1" type="number"/>
                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col size="3">
                        <ion-label position="floating">Distance</ion-label>
                        <input class="input" name="DISTANCE" formControlName="DISTANCE" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Deviation</ion-label>
                        <input class="input" name="DEVIATION" formControlName="DEVIATION" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Bearing</ion-label>
                        <input class="input" name="BEARING" formControlName="BEARING" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">WindSpeed</ion-label>
                        <input class="input" name="WindSpeed" formControlName="WINGSPEED" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">WindHead</ion-label>
                        <input class="input" name="WindHeading" formControlName="WINGHEAD" step="0.1" type="number"/>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col size="3">
                        <ion-label position="floating">Sm. Waypoint</ion-label>
                        <input class="input" name="SWaypoint" formControlName="SWaypoint" type="text"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Sm. Lat</ion-label>
                        <input class="input" name="SLatitude" formControlName="SLatitude" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Sm. Long</ion-label>
                        <input class="input" name="SLongtitude" formControlName="SLongtitude" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Sm. Course</ion-label>
                        <input class="input" name="SCourse" formControlName="SCourse" step="0.1" type="number"/>
                    </ion-col>
                    <ion-col size="2">
                        <ion-label position="floating">Sm. Mdecl</ion-label>
                        <input class="input" name="SMdeclination" formControlName="SMdeclination" step="0.1"
                               type="number"/>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </form>
    </div>
    <div style="background-color: white; width: 250px; position: absolute;top: -450px;z-index: 100;left: 700px; padding-left: 5px; display: none;">
        <div>
            <ion-input type="number" min="0" max="360" (change)="ngOnChanges()" [(ngModel)]="track"
                       style="background-color: white;color: black;">
                <ion-label style="color: black" slot="start">track &deg;</ion-label>
            </ion-input>
        </div>
        <div class="">
            <ion-input type="number" (change)="ngOnChanges()" min="0" max="360" [(ngModel)]="course"
                       style="background-color: white;color: black;">
                <ion-label style="color: black" slot="start">course &deg;</ion-label>
            </ion-input>
        </div>
        <div class="">
            <ion-input min="0" type="number" max="360" (change)="ngOnChanges()" [(ngModel)]="wing"
                       style="background-color: white;color: black;">
                <ion-label style="color: black" slot="start">wing&deg;</ion-label>
            </ion-input>
        </div>
        <div class="">
            <ion-input type="number" step="0.1" (change)="ngOnChanges()" min="-5" max="5" [(ngModel)]="deviation"
                       style="background-color: white;color: black;">
                <ion-label style="color: black" slot="start">deviation km</ion-label>
            </ion-input>
        </div>
        <div class="">
            <ion-input type="number" min="-40" max="40" step="0.1" [(ngModel)]="turn"
                       style="background-color: white;color: black;">
                <ion-label style="color: black" slot="start">turn {{turn}}&deg;</ion-label>
            </ion-input>
        </div>
        <div class="">
            <ion-input (change)="ngOnChanges()" [(ngModel)]="lat" style="background-color: white;color: black;">
                <ion-label style="color: black" slot="start">LAT</ion-label>
            </ion-input>
        </div>
        <div class="">

            <ion-input (change)="ngOnChanges()" [(ngModel)]="lat" style="background-color: white;color: black;">
                <ion-label slot="start" style="color: black">LNG</ion-label>
            </ion-input>
        </div>
        <div class="">

            <ion-input (change)="ngOnChanges()" [(ngModel)]="waypointLat" style="background-color: white;color: black;">
                <ion-label slot="start" style="color: black">waypointLat</ion-label>
            </ion-input>
        </div>
        <div class="">

            <ion-input (change)="ngOnChanges()" [(ngModel)]="waypointLng" style="background-color: white;color: black;">
                <ion-label slot="start" style="color: black">waypointLng</ion-label>
            </ion-input>
        </div>
        <div class="">

            <ion-input type="number" (change)="ngOnChanges()" [(ngModel)]="gs"
                       style="background-color: white;color: black;">
                <ion-label slot="start" style="color: black">gs km/h</ion-label>
            </ion-input>
            <ion-input type="number" (change)="ngOnChanges()" [(ngModel)]="oat"
                       style="background-color: white;color: black;">
                <ion-label slot="start" style="color: black">OAT &deg;</ion-label>
            </ion-input>
        </div>
    </div>
    <a (click)="togleMenu()" class="bars"></a>
</div><!-- /widjet -->

