.planebtn-gray {
    background: url(/assets/images/planebtn_gray.png) no-repeat !important;
}

#navMenu ion-input {
    color: white !important;
    border: #989aa2 solid 1px !important;
    padding: 0px !important;
}

#navMenu input {
    color: white !important;
    background-color: #0c0c0c;
    width: 100%;
    border: #989aa2 solid 1px !important;
    padding: 3px !important;
}

ion-col {
    padding-bottom: 0px;
}

.h20 {
    height: 20px;
}

.compas_widjet {
    min-height: 248px;
}

.widjet_info_name {
    min-height: 20px;
}
