<div class="tankbox">
    <div class="tankbox_scales">
        <div class="scale">
            <div class="scale_inner">
                <div class="scale_box">
                    <div
                            *ngFor="let item of scale"
                            [className]="'scale_box_item ' + item.class"
                            [style.bottom]="item.bottom + '%'"
                            [style.height]="item.height + '%'"
                            [class.ion-hide]="item.height == 0"
                    ></div>
                </div>
                <div class="scale_range" [style.height]="getScale(valueL) + '%'"
                     [style.background-color]="colorL"></div>
            </div>
            <div class="scale_val"
                 *ngIf="fuelData1 && fuelData1.value >= setting.min && fuelData1.value <= setting.max">
                {{ valueL | number:'1.0-0'}}</div>
            <div class="scale_val" *ngIf="fuelData1 && fuelData1.value < setting.min ">
                <{{ setting.min | number:'1.0-0'}}</div>
            <div class="scale_val" *ngIf="fuelData1 && fuelData1.value > setting.max">
                >{{ setting.max | number:'1.0-0'}}</div>
            <div class="scale_name">L</div>
        </div><!-- /scale -->

        <div class="scale_data">
            <span style="top: 14px;">Full</span>
            <span style="bottom: 115px;">30</span>
            <span style="bottom: 31px;">10</span>
            <span style="bottom: 0;">Empty</span>
        </div><!-- /scale_data -->

        <div class="scale">
            <div class="scale_inner">
                <div class="scale_box">
                    <div
                            *ngFor="let item of scale"
                            [className]="'scale_box_item ' + item.class"
                            [style.bottom]="item.bottom + '%'"
                            [style.height]="item.height + '%'"
                            [class.ion-hide]="item.height == 0"

                    ></div>
                </div>
                <div class="scale_range" [style.height]="getScale(valueR) + '%'"
                     [style.background-color]="colorR"></div>
            </div>
            <div class="scale_val"
                 *ngIf="fuelData2 && fuelData2.value >= setting.min && fuelData2.value <= setting.max">
                {{ valueR | number:'1.0-0'}}</div>
            <div class="scale_val" *ngIf="fuelData2 && fuelData2.value < setting.min ">
                <{{ setting.min | number:'1.0-0'}}</div>
            <div class="scale_val" *ngIf="fuelData2 && fuelData2.value > setting.max">
                >{{ setting.max | number:'1.0-0'}}</div>
            <div class="scale_name">R</div>
        </div><!-- /scale -->
    </div><!-- /tankbox_scales -->
    <div class="tankbox_title">Tank</div>
</div><!-- /tankbox -->
