<div class="widjet mainpanel">
    <div class="mainpanel_inner">

        <div class="numbersbox" id="numbers1">
            <div class="numbersbox_head" (click)="changeMeasure('velocity')">
                <span [ngSwitch]="velocityMeasure">
                  <ng-template ngSwitchCase="km">KM/H</ng-template>
                  <ng-template ngSwitchCase="miles">M/H</ng-template>
                  <ng-template ngSwitchDefault>KN</ng-template>
                </span>
            </div>
            <div class="numbersbox_content numbersbox_content_left">
                <div class="numbers_scale" [style.transform]="'translateY('+ getIasScale() +'px)'">
                    <div *ngFor="let item of speedArray" [className]="'numbers_scale_item ' + item.colorClass"
                         [class.fst]="item.label == 0">{{item.label}}
                        <div *ngIf="item.val" class="vx_scale_item"
                             [style.margin-top]="item.valHeight + 'px'">{{item.val}}</div>
                        <div *ngIf="item.div" class="vx_scale_add" [style.height]="item.div + 'px'"
                             [style.background-color]="item.color"></div>
                    </div>

                    <div class="vx_scale" [style.bottom]="(143 +settingScale.gray.min*3) + 'px'"
                         [style.height]="(settingScale.gray.max*3 - settingScale.gray.min*3 )+ 'px'"></div>
                </div>
                <div class="numbers_fixed">
                    <div class="numbers_fixed_num">{{getIas() | number: "1.0-0"}}</div>
                    <div class="numbers_fixed_slide">
                        <div class="numbers_fixed_slide_top"><b>{{getIas() + 1 | number: "1.0-0"}}</b></div>
                        <div class="numbers_fixed_slide_bottom" *ngIf="getIas() > 1">
                            <b>{{getIas() - 1 | number: "1.0-0"}}</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="numbersbox_footer">
                <div class="numbersbox_footer_item">
                    <span class="numbersbox_footer_name">TAS</span>
                    <span class="numbersbox_footer_value">{{TAS | number: "1.0-0"}}</span>
                </div>
                <div class="numbersbox_footer_item">
                    <span class="numbersbox_footer_name">GS</span>
                    <span class="numbersbox_footer_value blue">{{GS | number: "1.0-0"}}</span>
                </div>
            </div>
        </div><!-- /numbersbox -->


        <div class="mainpanel_middle">
            <div class="mainpanel_middle_top">
                <div class="compastop">
                    <div class="compastop_arrow">{{HEAD | number: "1.0-0"}}</div>
                    <div class="compastop_wrap">
                        <div class="compastop_scale" [style.transform]="'translateX('+ getHead() +'px)'"></div>
                    </div>
                </div><!-- /compastop -->

                <div class="mainscreen_wrapper">
                    <div *ngIf="screen == 1" class="mainscreen mainscreen1">
                        <div class="mainscreen2_bg_wrap" [style.transform]="'rotate('+ ROLL +'deg)'">
                            <div class="mainscreen2_bg" [style.transform]="'translateY('+ getPitch() +'px)'">
                                <div class="mainscreen2_bg_top"></div>
                                <div class="mainscreen2_bg_bottom"></div>
                                <div class="mainscreen2_bg_horizon"></div>
                            </div><!-- /mainscreen2_bg -->
                            <div class="scales_wrapper">
                                <div class="scales_wrapper_inner">
                                    <div class="roll_scale">
                                        <div class="roll_scale_arrow"></div>
                                    </div>
                                    <div class="pitch_scale">
                                        <div class="pitch_scale_inner"
                                             [style.transform]="'translateY('+ getPitch() +'px)'"></div>
                                    </div>
                                </div>
                            </div><!-- /scales_wrapper -->
                        </div>
                        <div class="roll_arrow"></div>
                        <div class="mainscreen1_arrow"></div>
                        <aoa-widget [ANORM]="ANORM" [AOA]="AOA"></aoa-widget>

                        <button class="mainscreen_btn" (click)="showScreen(2)" id="to_main2"></button>
                    </div><!-- /mainscreen -->

                    <div *ngIf="screen == 2" class="mainscreen mainscreen2">
                        <div class="mainscreen2_bg" [style.transform]="'translateY('+ getPitch() +'px)'">
                            <div class="mainscreen2_bg_top"></div>
                            <div class="mainscreen2_bg_bottom"></div>
                            <div class="mainscreen2_bg_horizon"></div>
                        </div>
                        <div class="pitch_scale">
                            <div class="pitch_scale_inner" [style.transform]="'translateY('+ getPitch() +'px)'"></div>
                        </div>
                        <div class="mainscreen2_roll"></div>
                        <div class="mainscreen2_plane" [style.transform]="'rotate('+ ROLL +'deg)'"></div>

                        <aoa-widget [ANORM]="ANORM" [AOA]="AOA"></aoa-widget>
                        <button class="mainscreen_btn" (click)="showScreen(3)" id="to_main3"></button>
                    </div><!-- /mainscreen -->

                    <div *ngIf="screen == 3" class="mainscreen mainscreen3">
                        <div class="plane1">
                            <div class="plane1_arrow" [style.transform]="'rotate('+ PITCH +'deg)'"></div>
                        </div><!-- /plane1 -->
                        <div class="plane2">
                            <div class="plane2_arrow" [style.transform]="'rotate('+ ROLL +'deg)'"></div>
                        </div><!-- /plane2 -->
                        <button class="mainscreen_btn" (click)="showScreen(1)" id="to_main1"></button>
                        <aoa-widget [ANORM]="ANORM" [AOA]="AOA"></aoa-widget>
                    </div><!-- /mainscreen -->
                </div><!-- /mainscreen_wrapper -->
            </div><!-- /mainpanel_middle_top -->

            <div class="gyroball">
                <div class="gyroball_dot" [style.transform]="'translateX('+ getSlimView() +'px)'"></div>
            </div><!-- /gyroball -->
        </div><!-- /mainpanel_middle -->


        <div class="numbersbox right" id="numbers2">
            <div class="numbersbox_head" (click)="changeMeasure('distance')"
                 [innerHTML]="distanceMeasure === 'metres'?'M':'FT' "></div>
            <div class="numbersbox_content">
                <div class="heiht_button heiht_top" (click)="setBaro('inc')"></div>
                <div class="numbers_scale rt" [style.transform]="'translateY('+ getAltView() +'px)'">

                    <div class="numbers_scale_item" [class.fst]="height === 0 "
                         *ngFor="let height of heightArray">{{height}}</div>

                </div>
                <div class="heiht_button heiht_bottom" (click)="setBaro('dec')"></div>
                <div class="numbers_fixed rt">
                    <div class="numbers_fixed_num">{{getAlt() | number: "1.0-0"}}</div>
                    <div class="numbers_fixed_slide">
                        <div class="numbers_fixed_slide_top"><b>{{getAlt() + 1 | number: "1.0-0"}}</b></div>
                        <div class="numbers_fixed_slide_bottom" *ngIf="getAlt() > 1">
                            <b>{{getAlt() - 1 | number: "1.0-0"}}</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="numbersbox_footer">
                <div class="numbersbox_footer_item center">
                    <span class="numbersbox_footer_value" (click)="changeMeasure('pressure')">
                        {{getAirPress() | number: "1.0-0"}}
                        <span [ngSwitch]="pressureMeasure">
                          <ng-template ngSwitchCase="gpa">hPA</ng-template>
                          <ng-template ngSwitchCase="torr">Torr</ng-template>
                          <ng-template ngSwitchDefault>InHg</ng-template>
                        </span>
                    </span>
                </div>
                <div class="numbersbox_footer_item">
                    <span class="numbersbox_footer_name">GPS</span>
                    <span class="numbersbox_footer_value blue">{{TALT | number: "1.0-0"}}</span>
                </div>
            </div>

            <div class="speed_height">
                <div class="speed_height_item">6</div>
                <div class="speed_height_item">2</div>
                <div class="speed_height_item">1</div>
                <div class="speed_height_item v0">
                    <div class="speed_height_zero"></div>
                </div>
                <div class="speed_height_item">-1</div>
                <div class="speed_height_item">-2</div>
                <div class="speed_height_item">-6</div>
                <div class="speed_height_arrow"
                     [style.transform]="'translateY('+ getVsScale() +'px)'">{{getVs() | number: "1.0-1"}}</div>
            </div><!-- /speed_height -->
        </div><!-- /numbersbox -->

    </div><!-- /mainpanel_inner -->
</div><!-- /mainpanel -->
