<div class="angle">
    <div class="angle_header">{{ANORM | number: "1.0-1"}}G</div>
    <div class="angle_content">
        <div class="angle_scale">
            <div class="angle_range">
                <div class="angle_range_top"
                     [style.height]=" getPositiveAoA() + 'px'"
                     [style.display]="ANORM >0?'block':'none'"
                >
                    <svg width="22" height="52" viewBox="0 0 17 48" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <ellipse [style.stroke]="AoaColor" cx="65.6535" cy="23.6469" rx="62.141" ry="46.9412"
                                 transform="rotate(180 65.6535 23.6469)"
                                 stroke-width="6"/>
                    </svg>
                </div>
                <div class="angle_range_bottom"
                     [style.height]="getNegativeAoA() + 'px'"
                     [style.display]="ANORM <0?'block':'none'"
                >
                    <svg width="22" height="52" viewBox="0 0 17 48" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <ellipse [style.stroke]="AoaColor" cx="65.6535" cy="23.6469" rx="62.141" ry="46.9412"
                                 transform="rotate(180 65.6535 23.6469)" stroke="#1cdb1c"
                                 stroke-width="6"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div><!-- /angle -->
