<div class="scale scale_small">
    <div class="scale_inner">
        <div class="scale_box">
            <div
                    *ngFor="let item of scale"
                    [className]="'scale_box_item ' + item.class"
                    [style.bottom]="item.bottom + '%'"
                    [style.height]="item.height + '%'"
                    [class.ion-hide]="item.height == 0"
            ></div>
        </div>
        <div class="scale_range" *ngIf="data" [style.background-color]="color"
             [style.height]="getScale(value)+'%'"></div>
    </div>
    <div class="scale_val"
         *ngIf="data && value >= setting.min && value <= setting.max">{{ value | number:format}}</div>
    <div class="scale_val" *ngIf="data && value < setting.min "><{{ setting.min | number:'1.0-0'}}</div>
    <div class="scale_val" *ngIf="data && value > setting.max">>{{ setting.max | number:'1.0-0'}}</div>
    <div class="scale_name">{{title}}</div>
</div><!-- /scale -->
