.hidden {
    display: none;
}

.show {
    display: block !important;
}

small-chart {
    margin: 0 12px 0 0;
}

.fuel_label {
    float: left;
    width: 65%;
    text-transform: uppercase;
}

.fuel_value {
    float: left;
    width: 35%;
    text-align: right;
}

.clearfix {
    clear: both;
}




