<ion-content scrollY="false">
  <div class="container" style="margin-top: 0px;padding-top: 0px;">

    <div class="leftcol">
      <mainpanel
        [TAS]="mainData.TAS"
        [GS]="mainData.GS"
        [VS]="mainData.VS"
        [IAS]="mainData.IAS"
        [BARO]="mainData.BARO"
        [AIRPRESS]="mainData.AIRPRESS"
        [ALT]="mainData.ALT"
        [TALT]="mainData.TALT"
        [ROLL]="mainData.ROLL"
        [PITCH]="mainData.PITCH"
        [AOA]="mainData.AOA"
        [ANORM]="mainData.ANORM"
        [SLIP]="mainData.SLIP"
        [HEAD]="mainData.HEAD"
      ></mainpanel>
      <navigation
        [data]="navigationData"
        [track]="navigationData.TRACK"
        [wingSpeed]="navigationData.WINGSPEED"
        [wingHead]="navigationData.WINGHEAD"
        [lat]="navigationData.LAT"
        [lng]="navigationData.LONG"
        [waypointLat]="navigationData.NEXTLAT"
        [waypointLng]="navigationData.NEXTLONG"
        [gs]="navigationData.GS"
        [oat]="navigationData.OAT"
        [course]="navigationData.NEXTCOURSE"
        [bearing]="navigationData.BEARING"
        [distanceToWaypoint]="navigationData.DISTANCE"
        [deviation]="navigationData.DEVIATION"
        [deviationAngle]="navigationData.DEVANGLE"

      ></navigation>

    </div><!-- /leftcol -->
    <div class="sidebar" style="float: right; height: 100%;margin-right: 5px;">

      <div class="widjet flex">


        <map-rpm-chart [mapData]="data.MAP1" [rpmData]="data.TACH1"></map-rpm-chart>
        <fuels-charts [fuelData1]="data.FUELQ1" [fuelData2]="data.FUELQ2" [settingKey]="'Fuel_Burn'"></fuels-charts>

      </div><!-- /widjet -->


      <div class="row">
        <div class="grid4" (click)="changeWidgetView('oil_dc')">
          <div class="widjet click" [class.active]="selectedWidget === 'oil_dc'" id="oil_dc_click">
            <div class="smallwidjet">
              <div class="smallwidjet_left">
                <span class="smallwidjet_title " *ngIf="service.shownData.OILTe && service.shownData.OILPe"
                      [class.redb]=""
                      [class.redbb]="">OIL </span>
              </div>
              <div class="smallwidjet_values">
                <span class="smallwidjet_name"
                      [class.red]="service.shownData?.OILTe.alert"
                      [class.yellow]="service.shownData?.OILTe.warning"
                      [class.overload]="service.shownData?.OILTe.overload"
                      *ngIf="service.shownData.OILTe">
                  {{ service.shownData?.OILTe.value | number:'1.0-0'}}C
                </span>
                <span class="smallwidjet_name "
                      [class.red]="service.shownData?.OILPe.alert"
                      [class.yellow]="service.shownData?.OILPe.warning"
                      [class.overload]="service.shownData?.OILPe.overload"
                      *ngIf="service.shownData.OILPe">
                  {{ service.shownData?.OILPe.value | number:'1.0-1'}}Bar
                </span>
              </div>
            </div>
            <hr>
            <div class="smallwidjet">
              <div class="smallwidjet_left">
                <span class="smallwidjet_title" *ngIf="service.shownData.VOLT && service.shownData.CURRNT"
                      [class.redb]="">DC</span>
              </div>
              <div class="smallwidjet_values">
                <span class="smallwidjet_name"
                      [class.red]="service.shownData?.VOLT.alert"
                      [class.yellow]="service.shownData?.VOLT.warning"
                      [class.overload]="service.shownData?.VOLT.overload"
                      *ngIf="service.shownData.VOLT">
                  {{ service.shownData?.VOLT.value | number:'1.0-1'}}V
                </span>
                <span class="smallwidjet_name"
                      [class.red]="service.shownData?.CURRNT.alert"
                      [class.yellow]="service.shownData?.CURRNT.warning"
                      [class.overload]="service.shownData?.CURRNT.overload"
                      *ngIf="service.shownData.CURRNT">
                  {{ service.shownData?.CURRNT.value | number:'1.0-1'}}A
                </span>
              </div>
            </div>
          </div><!-- /widjet -->
        </div><!-- /grid4 -->

        <div class="grid4" (click)="changeWidgetView('cht_egt')">
          <div class="widjet click" [class.active]="selectedWidget === 'cht_egt'" id="cht_egt_click">
            <div class="smallwidjet">
              <div class="smallwidjet_left">
                <span class="smallwidjet_title"
                      *ngIf="service.shownData.CHT "
                      [class.redb]=""
                      [class.redbb]=""
                >CHT</span>
              </div>
              <div class="smallwidjet_values">
                <span class="smallwidjet_name"
                      *ngIf="service.shownData.CHT"
                      [class.red]="service.shownData?.CHT.color_max =='#ff0000'"
                      [class.yellow]="service.shownData?.CHT.color_max == '#ffe500'"
                      [class.overload]="service.shownData?.CHT.overloadMax"
                >
                  H {{ service.shownData?.CHT.max | number:'1.0-0'}}С</span>
                <span class="smallwidjet_name"
                      *ngIf="service.shownData.CHT"
                      [class.red]="service.shownData?.CHT.color_min =='#ff0000'"
                      [class.yellow]="service.shownData?.CHT.color_min == '#ffe500'"
                      [class.overload]="service.shownData?.CHT.overloadMin"
                >L {{ service.shownData?.CHT.min | number:'1.0-0'}}C</span>
              </div>
            </div>
            <hr>
            <div class="smallwidjet">
              <div class="smallwidjet_left">
                <span class="smallwidjet_title"
                      *ngIf="service.shownData.EGT "
                      [class.redb]=""
                      [class.redbb]=""
                >EGT</span>
              </div>
              <div class="smallwidjet_values">
                <span class="smallwidjet_name"
                      *ngIf="service.shownData.EGT"
                      [class.red]="service.shownData?.EGT.color_max =='#ff0000'"
                      [class.yellow]="service.shownData?.EGT.color_max == '#ffe500'"
                      [class.overload]="service.shownData?.EGT.overloadMax"
                >H {{ service.shownData?.EGT.max | number:'1.0-0'}}С</span>
                <span class="smallwidjet_name"
                      *ngIf="service.shownData.EGT"
                      [class.red]="service.shownData?.EGT.color_min =='#ff0000'"
                      [class.yellow]="service.shownData?.EGT.color_min == '#ffe500'"
                      [class.overload]="service.shownData?.EGT.overloadMin"
                >L {{ service.shownData?.EGT.min | number:'1.0-0'}}C</span>
              </div>
            </div>
          </div><!-- /widjet -->
        </div><!-- /grid4 -->

        <div class="grid4">
          <div style=" padding-left: 5px;" class="widjet click" [class.active]="selectedWidget === 'fuel'"
               (click)="changeWidgetView('fuel')">
            <div class="smallwidjet">
              <div class="smallwidjet_left">
                <span class="smallwidjet_title"

                >FUEL</span>
              </div>
              <div class="smallwidjet_values">
                <span class="smallwidjet_name"
                      *ngIf="service.shownData.FUELP"

                > {{ service.shownData?.FUELP.value | number:'1.2-2'}}Bar</span>
                <span class="smallwidjet_name"
                      *ngIf="service.fuelBurn && service.showFuelF"
                > {{ service.fuelBurn | number:'1.0-1'}}L/Hr</span>
                <span class="smallwidjet_name"
                      *ngIf="! service.showFuelF"
                > N/a </span>
              </div>
            </div>
          </div><!-- /widjet -->


          <div class="widjet click" [class.active]="selectedWidget === 'flaps'"
               (click)="changeWidgetView('flaps')"
               id="flaps_click" style="padding: 0px; margin: 0px;">
            <img style="height: 75px;width: 120px;" src="/assets/images/flap.png"/>
            <!--
     <div class="smallwidjet">
       <div class="smallwidjet_titles">
         <span class="smallwidjet_name" id="trim_smallname">TRIM</span>
         <span class="smallwidjet_name flapsbox_val_color">FLAP</span>
         <span class="smallwidjet_name smallwidjet_name_gear">GEAR</span>
       </div>
       <div class="smallwidjet_values">
         <span class="smallwidjet_name" id="trim_val">0</span>
         <span class="smallwidjet_name flapsbox_val_color"><span id="flapsbox_val_small">0</span>&deg</span>
         <span class="smallwidjet_name smallwidjet_name_canopy">CANOPY</span>
       </div>
     </div>
   -->
          </div><!-- /widjet -->
        </div><!-- /grid4 -->
      </div><!-- /row -->


      <div id="oil_dc" class="hidden show" [class.show]="selectedWidget=='oil_dc'">
        <div class="widjet oilrow flex">
          <div class="oilbox">
            <div class="oilbox_title red" *ngIf="data?.OILPe.alert || data?.OILTe.alert">
              <img src="/assets/images/oil.svg">
              <span>oil</span>
            </div>
            <div class="oilbox_title "
                 *ngIf="(service.shownData?.OILPe &&service.shownData?.OILTe) && (!service.shownData?.OILPe.alert && !service.shownData?.OILTe.alert)">
              <img src="/assets/images/oil-gray.png" alt="">
              <span>oil</span>
            </div>

            <small-chart [settingKey]="'OIL_T'" [data]="data.OILTe" [dataKey]="'OILTe'" [title]="'T'"></small-chart>
            <small-chart [settingKey]="'OIL_P'" [data]="data.OILPe" [dataKey]="'OILPe'" [title]="'P'"></small-chart>
            <!---->
          </div><!-- /oilbox -->

          <div class="oilbox">
            <div class="oilbox_title red " *ngIf="data?.VOLT.alert || data?.CURRNT.alert">
              <img src="/assets/images/dc_red.png">
              <span>dc</span>
            </div>
            <div class="oilbox_title" *ngIf="!data?.VOLT.alert && !data?.CURRNT.alert">
              <img src="/assets/images/dc.svg">
              <span>dc</span>
            </div>
            <small-chart [settingKey]="'DC_V'" [data]="data.VOLT" [title]="'V'" [dataKey]="'VOLT'"></small-chart>
            <small-chart [settingKey]="'DC_A'" [data]="data.CURRNT" [title]="'A'" [dataKey]="'CURRNT'"></small-chart>

          </div><!-- /oilbox -->
        </div><!-- /widjet -->
      </div><!-- /oil_dc -->
      <div id="fuel" class="hidden" [class.show]="selectedWidget=='fuel'">
        <div class="widjet oilrow flex">


          <div class="oilbox" style="color: #fff; font-size: 18px; width: 320px; ">
            <div *ngIf="service.showFuelF" style="width: 100%; padding-left: 10px; padding-right: 10px;">
              <div>
                <div class="fuel_label">
                  Fuel burn:
                </div>
                <div class="fuel_value">
                  {{ service.fuelBurn | number:'1.0-1'}} l/h
                </div>
                <div class="clearfix"></div>
              </div>
              <div>
                <div class="fuel_label">
                  Endurance*:
                </div>
                <div class="fuel_value">
                  {{service.endurange}}
                </div>
                <div class="clearfix"></div>
              </div>
              <div>
                <div class="fuel_label">
                  Range*:
                </div>
                <div class="fuel_value">
                  {{service.range}}
                </div>
                <div class="clearfix"></div>
              </div>
              <div style="margin-top: 70px; text-transform: uppercase">
                *with 30min reserve
              </div>
            </div>
            <div style="width: 100%; padding-left: 10px; padding-right: 10px;" *ngIf="!showFuelF">
              <div>
                <div class="fuel_label">
                  Fuel burn:
                </div>
                <div class="fuel_value">
                  N/a
                </div>
                <div class="clearfix"></div>
              </div>
              <div>
                <div class="fuel_label">
                  Endurance*:
                </div>
                <div class="fuel_value">
                  N/a
                </div>
                <div class="clearfix"></div>
              </div>
              <div>
                <div class="fuel_label">
                  Range*:
                </div>
                <div class="fuel_value">
                  N/a
                </div>
                <div class="clearfix"></div>
              </div>
              <div style="margin-top: 70px; text-transform: uppercase">
                *with 30min reserve
              </div>
            </div>
          </div><!-- /oilbox -->
          <div class="oilbox">
            <div class="oilbox_title red" style=" width: 50px; margin-right: 10px;"
                 *ngIf="data?.FUELP.alert">
              <span>FUEL PRES</span>
            </div>
            <div class="oilbox_title " style=" width: 50px; margin-right: 10px;" *ngIf="!data?.FUELP.alert">
              <span>FUEL PRES</span>
            </div>
            <small-chart [settingKey]="'FUEL_P'" [data]="data.FUELP" [title]="'Bar'" [dataKey]="'FUELP'"></small-chart>
            <!---->
          </div><!-- /oilbox -->
        </div><!-- /widjet -->
      </div><!-- /oil_dc -->

      <div id="cht_egt" class="hidden" [class.show]="selectedWidget=='cht_egt'">
        <div class="widjet oilrow2">
          <div class="oilbox" *ngIf="data.CHT">
            <div class="oilbox_title red"
                 *ngIf=" data?.CHT.color_min =='#ff0000' ||  data?.CHT.color_max =='#ff0000'">
              <img src="/assets/images/thermometer_red.png" alt="">
              <span>CHT</span>
            </div>
            <div class="oilbox_title "
                 *ngIf=" data?.CHT.color_min !='#ff0000' &&  data?.CHT.color_max !='#ff0000'">
              <img src="/assets/images/thermometer.svg" alt="">
              <span>CHT</span>
            </div>
            <small-chart [settingKey]="'CHT'" [data]="data.CHT1" [title]="'1'" [dataKey]="'CHT1'"></small-chart>
            <small-chart [settingKey]="'CHT'" [data]="data.CHT2" [title]="'2'" [dataKey]="'CHT2'"></small-chart>
          </div><!-- /oilbox -->

          <div class="oilbox oilbox2" *ngIf="data.EGT">
            <div class="oilbox_title red"
                 *ngIf=" data?.EGT.color_min =='#ff0000' ||  data?.EGT.color_max =='#ff0000'">
              <img src="/assets/images/thermometer_red.png" alt="">
              <span>EGT</span>
            </div>
            <div class="oilbox_title "
                 *ngIf=" data?.EGT.color_min !='#ff0000' &&  data?.EGT.color_max !='#ff0000'">
              <img src="/assets/images/thermometer.svg" alt="">
              <span>EGT</span>
            </div>
            <small-chart [settingKey]="'EGT'" [data]="data.EGT1" [title]="'1'" [dataKey]="'EGT1'"
                         [subtitle]="'C'"></small-chart>
            <small-chart [settingKey]="'EGT'" [data]="data.EGT2" [title]="'2'" [dataKey]="'EGT2'"
                         [subtitle]="'C'"></small-chart>
            <small-chart [settingKey]="'EGT'" [data]="data.EGT3" [title]="'3'" [dataKey]="'EGT3'"
                         [subtitle]="'C'"></small-chart>
            <small-chart [settingKey]="'EGT'" [data]="data.EGT4" [title]="'4'" [dataKey]="'EGT4'"
                         [subtitle]="'C'"></small-chart>
          </div><!-- /oilbox -->
        </div><!-- /widjet -->
      </div><!-- /cht_egt -->


      <div id="flaps" class="hidden" [class.show]="selectedWidget=='flaps'">
        <div class="widjet flaps_trim">

          <div class="flaps_trim_item gearbox">
            <div class="gearbox_item">
              <div class="flaps_trim_title">open</div>
              <div class="gearbox_val" id="canopy_signal"></div>
              <div class="flaps_trim_title smallwidjet_name_canopy">canopy</div>
            </div>
            <div class="gearbox_item">
              <div class="flaps_trim_title">up</div>
              <div class="gearbox_val" id="gear_signal"></div>
              <div class="flaps_trim_title smallwidjet_name_gear">gear</div>
            </div>
          </div><!-- /flaps_trim_item -->

          <div class="flaps_trim_item trimbox">
            <div class="trimbox_topscale">
              <div class="trimbox_topscale_left">
                <svg width="95" height="13" viewBox="0 0 95 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="172.392"
                          transform="matrix(-0.320449 0.947266 0.947266 0.320449 48.1643 175.443)"
                          stroke="#1CDB1C" stroke-width="6"/>
                </svg>
              </div>
              <div class="trimbox_topscale_right">
                <svg width="95" height="13" viewBox="0 0 95 13" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="172.392"
                          transform="matrix(-0.320449 0.947266 0.947266 0.320449 48.1643 175.443)"
                          stroke="#1CDB1C" stroke-width="6"/>
                </svg>
              </div>
            </div>
            <div class="trimbox_scale">
              <div class="trimbox_arrows">
                <div class="trimbox_arrow trimbox_arrow_left"></div>
                <div class="trimbox_arrow trimbox_arrow_right"></div>
              </div>
              <div class="trimbox_bottom">
                <div class="trimbox_bottom_range trimbox_bottom_left"></div>
                <div class="trimbox_bottom_range trimbox_bottom_right"></div>
              </div>
            </div>
            <div class="flaps_trim_title">Trim</div>
          </div><!-- /flaps_trim_item -->

          <div class="flaps_trim_item flapsbox">
            <div class="flapsbox_img"><img src="/assets/images/flaps.svg" alt=""></div>
            <div class="flapsbox_arrow"></div>
            <div class="flapsbox_scale"><img src="/assets/images/flaps_scale.svg" alt=""></div>
            <div class="flapsbox_value"><span id="flapsbox_val">0</span>&deg;</div>
            <div class="flaps_trim_title">Flaps</div>
          </div><!-- /flaps_trim_item -->

        </div><!-- /widjet -->
      </div><!-- /flaps -->

      <div style="padding-bottom: 11px;" class="widjet shortwidjet">
        COM 1 122.900/659 CTAF/COM 2 210.700/659 CTAF<br>
        STBY 118.250 KMWH TOWER<br>
        N430G 1023 ALT
        <a (click)="gotoSetting()" class="bars"></a>
      </div><!-- /widjet -->

    </div><!-- /sidebar -->
  </div>
</ion-content>
