/* Tablet */
@media screen and (max-width: 1020px) {
  .container {
    width: 720px;
  }
  .tb-visible {
    display: block !important;
  }
  .tb-hidden {
    display: none !important;
  }
  .tb6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .tb12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }


}

/* End Tablet */


/* Small */
@media screen and (max-width: 750px) {
  html {
    -webkit-text-size-adjust: none;
  }
  .container {
    margin: 0 15px;
    width: auto;
  }
  .sm-visible {
    display: block !important;
  }
  .sm-hidden {
    display: none !important;
  }
  .sm6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sm12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }


  .settings {
    float: none;
    margin: 0 0 20px;
  }

}

/* End Small */


/* Mobile */
@media screen and (max-width: 500px) {
  .xs-visible {
    display: block !important;
  }
  .xs-hidden {
    display: none !important;
  }
  .xs6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xs12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }


}

/* End Mobile */
