@import "compass/reset";

/* Settings */
$red: #ff0000;
$yel: #ffe500;
$green: #1cdb1c;
$grid-gutter: 30px;


@mixin clr {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

@mixin bx {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin bf {
  content: '';
  display: block;
  position: absolute;
}

@mixin br($rad) {
  border-radius: $rad;
  -moz-border-radius: $rad;
  -webkit-border-radius: $rad;
}

@mixin shad($shad) {
  -webkit-box-shadow: $shad;
  -moz-box-shadow: $shad;
  box-shadow: $shad;
}

@mixin tb {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

@mixin cell {
  display: table-cell;
  vertical-align: middle;
}

@mixin flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@mixin fam($name) {
  font-family: $name;
}

@mixin anim($sec) {
  transition: all $sec ease-out;
  -moz-transition: all $sec ease-out;
  -webkit-transition: all $sec ease-out;
}

@mixin font {
  font-family: 'sf_monomedium';
}

@mixin inp {
  -webkit-appearance: none;
  appearance: none;
  @include bx;
  margin: 0;
  outline: none;
}


/* Fonts */
@font-face {
  font-family: 'sf_monoregular';
  src: url('../fonts/sfmonoregular.eot');
  src: url('../fonts/sfmonoregular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sfmonoregular.woff2') format('woff2'),
  url('../fonts/sfmonoregular.woff') format('woff'),
  url('../fonts/sfmonoregular.ttf') format('truetype'),
  url('../fonts/sfmonoregular.svg#sf_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_monolight';
  src: url('../fonts/sfmonolight.eot');
  src: url('../fonts/sfmonolight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sfmonolight.woff2') format('woff2'),
  url('../fonts/sfmonolight.woff') format('woff'),
  url('../fonts/sfmonolight.ttf') format('truetype'),
  url('../fonts/sfmonolight.svg#sf_monolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_monomedium';
  src: url('../fonts/sfmonomedium.eot');
  src: url('../fonts/sfmonomedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sfmonomedium.woff2') format('woff2'),
  url('../fonts/sfmonomedium.woff') format('woff'),
  url('../fonts/sfmonomedium.ttf') format('truetype'),
  url('../fonts/sfmonomedium.svg#sf_monomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ===== Reset ===== */
* {
  @include bx;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background: #0c0c0c;
  color: #fff;
  font-size: 14px;
  @include font;
  line-height: 22px;
  margin: 0;
}

main {
  display: block;
}

img {
  border: 0;
  max-width: 100%;
}

p {
  margin: 0 0 20px;

  &:last-child {
    margin: 0;
  }
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a, input, textarea {
  outline: none;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

th {
  font-weight: normal;
  text-align: left;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
}

h2 {
  margin: 0 0 15px;
}

hr {
  background: #222;
  border: 0;
  height: 1px;
  clear: both;
  display: block;
  margin: 14px 0 15px;
  padding: 0;
}

.red {
  color: $red;
}

.white {
  color: #fff;
}


/* ===== Responsive grid ===== */
.container {
  margin: 0 auto;
  padding: 9px 0 0;
  width: 1016px;
}

.sidebar {
  width: 378px;
  float: right;
}

.is-clear, .container {
  @include clr;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-right: -2px;
}

[class*='grid'] {
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
}

.grid4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.grid6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.grid8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}


/* Widjet */
.widjet {
  background: #000;
  border: 1px solid #222;
  @include br(3px);
  padding: 12px;
  position: relative;
  margin: 0 0 4px;

  &.flex {
    @include flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &.click {
    cursor: pointer;
  }

  &.active {
    border-color: #091372;
  }
}


/* ===== map_rpm ===== */
.map_rpm {
  width: 230px;
  @include clr;

  img {
    display: block;
  }
}


/* ===== bentscale ===== */
.bentscale {
  display: block;
  position: relative;
  width: 90px;
  height: 292px;
  float: left;
  margin: 0;

  svg, img {
    display: block;
  }

  &_text {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
  }

  &_range {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    //@include anim(400ms);
    svg, img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 90px;
      height: 292px;
    }
  }

  &_value {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 2px;
  }

  &_name {
    color: #828282;
    font-size: 14px;
    line-height: 17px;
  }

  &.mirror {
    float: right;

    .bentscale_text {
      text-align: right;
      left: auto;
      right: 0;
    }

    img, svg {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  &_data {
    width: 50px;
    color: #828282;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    float: left;
    @include flex;
    align-content: center;
    flex-wrap: wrap;
    height: 292px;

    span {
      display: block;
      width: 100%;
      margin: 0 0 29px;

      &:last-child {
        margin: 0;
      }
    }

    span.active {
      color: #fff;
    }
  }
}

img.bentscale_range-green, img.bentscale_range-yellow, img.bentscale_range-red {
  display: none;
}


/* ===== scale ===== */
.scale {
  width: 30px;
  position: relative;
  padding: 24px 0;

  &_inner {
    position: relative;
  }

  &_range {
    position: absolute;
    width: 18px;
    height: 0;
    bottom: 0;
    right: 0;
  }

  &_box {
    width: 2px;
    height: 217px;
    position: relative;
    margin-left: 4px;

    &_item {
      width: 2px;
      position: absolute;
      right: 0;

      &:before, &:after {
        @include bf;
        height: 2px;
        width: 6px;
        right: 0;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      &.rb {
        background: $red;

        &:before {
          background: $red;
        }

        &:after {
          background: $red;
        }
      }

      &.rt {
        background: $red;

        &:before {
          background: $red;
        }
      }

      &.yb {
        background: $yel;

        &:before {
          background: $yel;
        }
      }

      &.gr {
        background: $green;

        &:before {
          background: $green;
        }
      }
    }
  }

  &_val {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    top: 0;
    left: 8px;
  }

  &_name {
    color: #828282;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
  }

  &_data {
    color: #828282;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    position: relative;
    width: 38px;
    text-transform: uppercase;
    height: 217px;

    span {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
    }
  }

  &_small &_box {
    height: 110px;
  }

  &_small &_val {
    font-size: 12px;
    line-height: 14px;
    left: 3px;
  }
}


/* ===== TANK ===== */
.tankbox {
  width: 98px;

  &_scales {
    @include flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px;
  }

  &_title {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
  }
}


/* ===== smallwidjet ===== */
.widjet.active .smallwidjet {
  color: #fff;

  &_title {
    &:before, &:after {
      border-color: #fff;
    }
  }
}

.smallwidjet {
  height: 60px;
  @include flex;
  justify-content: space-between;
  color: #828282;
  font-size: 14px;
  line-height: 17px;

  .red {
    color: $red;
  }

  .yellow {
    color: $yel;
  }

  &_left {
    @include flex;
    align-items: center;
  }

  &_titles {
    @include flex;
    align-content: space-between;
    flex-wrap: wrap;
  }

  &_values {
    @include flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
  }

  &_name {
    display: block;
    width: 100%;
  }

  &_title {
    display: block;
    position: relative;

    &:before, &:after {
      @include bf;
      width: 6px;
      height: 6px;
      left: 12px;
      border-left: 1px solid #616161;
    }

    &:before {
      border-top: 1px solid #616161;
      top: -15px;
    }

    &:after {
      border-bottom: 1px solid #616161;
      bottom: -15px;
    }

    &.redt, &.redb {
      color: $red;
    }

    &.redt:before {
      border-color: $red !important;
    }

    &.redb:after {
      border-color: $red !important;
    }
  }
}


/* ===== oilbox ===== */
.oilrow {
  padding: 12px 0;
}

.oilrow .oilbox {
  border-left: 1px solid #222;
  width: 50%;

  &:first-child {
    border-left: 0;
  }
}

.oilbox {
  @include flex;
  align-items: center;
  justify-content: center;

  &_title {
    color: #828282;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 0 23px 0 0;

    img {
      display: block;
      margin: 0 auto 16px;
    }

    span {
      display: block;
    }

    &.red {
      color: $red;
    }
  }

  .scale {
    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.oilrow2 {
  @include flex;
  padding: 12px 0;

  .oilbox {
    border-left: 1px solid #222;
    padding: 0 16px;
    width: 100%;

    &:first-child {
      border-left: 0;
    }
  }

  .oilbox_title {
    margin-right: 12px;
  }

  .oilbox .scale {
    margin: 0 12px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  .oilbox2 {
    .scale {
      width: 25px;
    }

    .scale_range {
      width: 13px;
    }
  }
}

#cht_egt, #flaps {
  display: none;
}


/* ===== flaps / trim /gear ===== */
.flaps_trim {
  @include flex;
  justify-content: space-between;
  padding: 22px 12px;

  &_item {
    height: 138px;
    position: relative;
  }

  &_title {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }
}

.flapsbox {
  width: 108px;

  &_img {
    position: absolute;
    left: 0;
    top: 60px;
  }

  &_scale {
    position: absolute;
    right: 0;
    top: 20px;
  }

  &_value {
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: $green;
  }

  .flaps_trim_title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  &_arrow {
    position: absolute;
    left: 54px;
    top: 61px;
    background: $green;
    width: 14px;
    height: 14px;
    @include br(50%);

    &:before {
      @include bf;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 33px;
      border-color: transparent transparent transparent $green;
      left: 8px;
      top: 0;
    }

    &.yel {
      background: $yel;

      &:before {
        border-color: transparent transparent transparent $yel;
      }
    }

    &.grey {
      background: #828282;

      &:before {
        border-color: transparent transparent transparent #828282;
      }
    }
  }
}

/* ===== gearbox ===== */
.gearbox {
  text-align: center;
  @include flex;
  flex-wrap: wrap;
  align-content: space-between;

  .flaps_trim_title {
    color: #828282;

    &.red {
      color: $red;
    }

    &.white {
      color: #fff;
    }
  }

  &_item {
    width: 100%;
  }

  &_val {
    @include br(50%);
    display: block;
    width: 16px;
    height: 16px;
    background: #665c00;
    margin: 5px auto;
  }

  &_val.active {
    background: $red;
  }
}

/* ===== trimbox ===== */
.trimbox {
  .flaps_trim_title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  &_scale {
    background: url(../images/trim.svg) no-repeat;
    width: 95px;
    height: 116px;
    position: relative;
  }

  &_arrows {
    position: absolute;
    left: 32px;
    top: 58px;
    width: 30px;
    margin-top: -6px;
  }

  &_arrow {
    border: 5px solid transparent;
    border-left: 7px solid $green;
    position: absolute;
    left: 0;
    top: 0;

    &_right {
      border: 5px solid transparent;
      border-right: 7px solid $green;
      left: auto;
      right: 0;
    }

    &.yellow {
      border-left-color: $yel;
    }

    &_right.yellow {
      border-left: 0;
      border-right-color: $yel;
    }
  }

  &_bottom {
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;

    &_range {
      position: absolute;
      top: 0;
      height: 6px;
      background: $yel;
      width: 0;
    }

    &_left {
      right: 47px;
    }

    &_right {
      left: 47px;
    }
  }

  &_topscale {
    position: absolute;
    left: -1px;
    width: 96px;
    top: 9px;

    &_left {
      position: absolute;
      width: 0;
      height: 15px;
      overflow: hidden;
      right: 47px;
      top: 0;

      svg {
        position: absolute;
        right: -42px;
      }
    }

    &_right {
      position: absolute;
      width: 0;
      height: 15px;
      overflow: hidden;
      left: 47px;
      top: 0;

      svg {
        position: absolute;
        left: -42px;
      }
    }
  }
}

/* ===== shortwidjet ===== */
.bars {
  background: url(../images/bars.svg) no-repeat;
  display: block;
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
}

.shortwidjet {
  position: relative;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  padding: 12px;
  padding-right: 70px;
  min-height: 36px;

  &:last-child {
    margin: 0;
  }

  .bars {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}


/* Slider */
#custom-handle, #custom-handle2, #custom-handle3, #custom-handle4, #custom-handle5, #custom-handle6 {
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  @include br(50%);
}

.settings {
  background: #252525;
  z-index: 1000;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 14px;
  width: 320px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  @include anim(200ms);
  color: #fff;
  transform: translate(-320px);
  -ms-transform: translate(-320px);

  &.open {
    transform: translate(0px);
    -ms-transform: translate(0px);
  }

  .bars {
    position: absolute;
    right: -46px;
    top: 10px;
  }
}

.field {
  margin: 0 0 40px;
}

.btn {
  background: #333;
  @include br(5px);
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  border: 0;
  text-align: center;
  @include inp;
  text-decoration: none;
  padding: 6px 12px;

  &.active {
    background: $red;
  }
}

.row.field {
  margin-left: -14px;
  margin-right: -14px;
}

.row.field .grid6 {
  padding: 0 14px;
}

























